<svg aria-hidden="true" class="hero-play press-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 103 103">
  <circle cx="51.5" cy="51.5" r="49" stroke="none" />
  <g transform="translate(3 3)" stroke="" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <path d="M82.79 14.21c18.95 18.94 18.95 49.64 0 68.58-18.94 18.95-49.64 18.95-68.58 0-18.95-18.94-18.95-49.64 0-68.58 18.94-18.95 49.64-18.95 68.58 0" stroke-width="5"/>
    <polygon stroke-width="2.67" fill="#FFF" points="38 68 38 30 72 49"/>
  </g>
</svg>