<footer class="footer vets-footer vets-row-container landing-band hide-for-print" style="padding-top:0;">
  <div class="gutter-top gutter-bottom">
    <div class="flatline reduce">&nbsp;</div>
    <div class="row collapse xlarge-uncollapse">
      <div class="column large-8 xlarge-10 ">
        <ul class="no-bullet text-center large-text-left gutter-top-large">
          <li><a href="http://www.freddiemac.com/terms/">Terms of Use</a></li>
          <li><a href="http://www.freddiemac.com/terms/privacy.html">Privacy Policy</a></li>
          <li style="float: none;"><a href="/contact.html">Contact Us</a></li>
          <li style="float: none;">&copy; {{year}} Freddie Mac</li>
        </ul>
      </div>
      <!-- <div class="column large-4 xlarge-5">
        <ul class="no-bullet text-center large-text-right gutter-top-large">
          <li>&copy; {{year}} Freddie Mac</li>
        </ul>
      </div> -->
      <div class="column large-4 xlarge-2">
        <div class="landing-logo-footer vets-footer">
          <a href="index.html"><img alt="Freddie Mac logo" src="/images/multifamily_logo.svg" class="no-border"></a>
        </div>
      </div>      
    </div>
  </div>
</footer>
