<!-- Optigo Happy Start -->
<div class="row" data-equalizer="3ccj6p-equalizer" data-equalize-on="medium" data-equalize-by-row="true" data-resize="i309iz-eq" data-mutate="8nhw8j-eq">
  <div class="column">
    <div class="card primary background-concrete" data-equalizer-watch="" style="height: auto;">
      <div class="media-object collapse align-middle background-blue">
        <div class="media-object-section" style="background: rgba(0,0,0,0.1);">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" viewBox="0 0 24 24" class="icon-application"><defs><style>.cls-1{fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}</style></defs><path class="cls-1" d="M20.25,13.5H23.5v-3H20.25a11.8,11.8,0,0,0-1-2.92l2.3-2.3L18.72,2.45l-2.3,2.3a11.77,11.77,0,0,0-2.92-1V.5h-3V3.75a11.78,11.78,0,0,0-2.92,1l-2.3-2.3L2.45,5.28l2.3,2.3a11.82,11.82,0,0,0-1,2.92H.5v3H3.75a11.82,11.82,0,0,0,1,2.92l-2.3,2.3,2.83,2.83,2.3-2.3a11.76,11.76,0,0,0,2.92,1V23.5h3V20.25a11.8,11.8,0,0,0,2.92-1l2.3,2.3,2.83-2.83-2.3-2.3A11.82,11.82,0,0,0,20.25,13.5Z"></path><circle class="cls-1" cx="12" cy="12" r="4.5"></circle></svg>
        </div>
        <div class="media-object-section main-section">
          <div class="weight-bold grid-block-text">&nbsp; Optigo Happy</div>
        </div>
        <div class="media-object-section">
          <div class="media-object-section">
            <span class="gutter-right"><a id="OptigoHappyLink" href="https://manage.happyco.com/" class="offsite button tertiary small no-margin secured" target="_blank" rel="noopener noreferrer noopener noreferrer">Log In<span class="show-for-sr"> to Optigo
                  Happy</span></a></span>
          </div>
        </div>
      </div>
      <div class="row medium-up-2">
        <div class="column happy-right-border">
          <div class="card-divider">
            <p class="grid-block-text snug weight-bold"><img class="no-border" src="/images/happy-insp.png">&nbsp;&nbsp;Happy Inspector</p>
            <p class="reduce">Happy Inspector works with Optigo to offer greater simplicity, precision and flexibility in a single mobile inspection platform. Download the app below.
            </p>
            <ul class="no-bullet">
              <li>
                <a href="https://apps.apple.com/us/app/happy-inspector-by-happyco/id981301626" title="Happy Inspector for Apple Store "><img class="appstore-img no-border offsite" src="/images/app-btn.png"></a>
                &nbsp;&nbsp;
                <a href="https://play.google.com/store/apps/details?id=com.happyinspector.mildred&hl=en_US&gl=US" title="Happy Inspector for Google Play"><img class="google-play-img no-border offsite" src="/images/google-play-btn.png"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column">
          <div class="card-divider">
            <p class="grid-block-text snug weight-bold slight-top-padding" style="padding-top: 9px">Happy Manage</p>
            <p class="reduce">Use this link to access the desktop version of the property inspection app.
            </p>
            <ul class="no-bullet">
              <li> <a href="/docs/optigo_happy_flyer.pdf">Flyer  </a>
              </li>
              <li><a href="/docs/dt_optigo_happy_FAQ.pdf">FAQs  </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Optigo Happy End -->