<div class="row">  
  <div class="column">
    <div class="media-object stack-for-small"> 
      <div class="media-object-section align-self-middle"> 
        {{> icon-green }} 
      </div> 
      <div class="media-object-section main-section align-self-middle"> 
        <h2 class="investor-product-title">Green Bonds <span class="sub">Environmental Impact in Workforce Housing</span></h2> 
      </div>
    </div>    
  </div>  
  <div class="column">
    <div class="investor-content weight-normal">
      <br>
      <p class="investor-product-lead">Green Bonds proceeds are used to finance <a href="#">Green Advantage® loans</a>. These loans are designed to support water and/or energy efficiency improvements in workforce housing, helping the environment while lowering monthly expenses for tenants <span class="no-wrap">and borrowers.</span></p>
      <p>
        For Freddie Mac loan offerings, <a href="#">workforce housing</a> is defined as units that are affordable to the
        "missing middle." In many ways, residents of workforce housing are the backbone of their communities. These
        individuals may be aspiring homebuyers or renters who do not qualify for subsidized housing and at the same time
        cannot afford the market rates for housing in the very communities that benefit from their work.</p>
      <p>We use a guideline of 80% or less of AMI in most markets, with some variation in cost-burdened markets. These
        properties tend to be older and have fewer amenities but may also include newer properties that are purpose-built to
        be affordable to households with moderate incomes.</p>
      <p>The Freddie Mac Multifamily <a href="#">Green Bonds Framework</a> is aligned with the four core components of the
        ICMA <a href="#">Green Bond Principles.</a> </p>
      <p>Eligible Offerings: <a href="#">K-G Deal</a>, <a href="#">Multi PC</a></p>
    </div>
  </div>
  <div class="column">
    <div class="row">
      <div class="column medium-10">
        <div class="bonds-resources-wrap">
          <p class="weight-bold">Additional Green Bonds Resources</p>
          <div class="row small-up-2 medium-up-4">
            <div class="column">
              <div>
                <a href="#"><img src="/images/Green-Bonds-framework.png" class="no-border" alt="Green Bonds Framework"></a>
              </div>
              <div>
                <p class="weight-normal"><a href="#">Green Bonds Framework</a></p>
              </div>
            </div>
            <div class="column">
              <div><a href="#"><img src="https://dummyimage.com/130x165/bbbbbb/000" alt="KG Overview Handout"></a></div>
              <div><p class="weight-normal"><a href="#">KG Overview Handout</a></p></div>
            </div>
            <div class="column">
              <div><a href="#"><img src="https://dummyimage.com/130x165/bbbbbb/000" alt="2nd Opinion from CICERO"></a></div>
              <div><p class="weight-normal"><a href="#">2nd Opinion from CICERO</a></p></div>
            </div>
            <div class="column">
              <div><a href="#"><img src="https://dummyimage.com/130x165/bbbbbb/000" alt="2019 Green Bonds Impact Report"></a></div>
              <div><p class="weight-normal"><a href="#">2019 Green Bonds Impact Report</a></p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    
  
  

