<div class="row">
  <div class="column">
    <div class="media-object stack-for-small"> 
      <div class="media-object-section align-self-middle"> 
        {{> icon-social }} 
      </div> 
      <div class="media-object-section main-section align-self-middle"> 
        <h2 class="investor-product-title">Social Bonds <span class="sub">Looking Deeper Into Our Mission of Supporting Affordable Housing</span></h2> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="investor-content weight-normal">
      <br>
      <p class="investor-product-lead">Social Bonds proceeds will be dedicated to either providing liquidity to financial institutions with a distinct mission of addressing affordable housing challenges or to provide financing to certain underserved groups considered to be amongthe most vulnerable.</p>
      <p>These proceeds provide liquidity to social impact financial institutions (Community Development Financial Institutions, Housing Finance Agencies, Small Financial Institutions operating in Underserved Markets) financing affordable multifamily properties, or provide financing for multifamily properties through the Freddie Mac Multifamily Optigo®
      network that are:</p>
      <ul>
        <li>affordable to underserved populations;</li>
        <li>owned and operated by targeted sponsors (minorities, women, and disabled individuals-owned businesses) and affordable to low- to moderate- income families; or</li>
        <li>supporting social impact projects (The Rental Assistance Demonstration, transitional housing), as detailed in the Social Bonds Framework</li>
      </ul>
      <p>The Freddie Mac Multifamily <a href="#">Social Bonds Framework</a> is aligned with the four core components of the ICMA <a href="#">Social Bond Principles</a>.</p>
      <p>Eligible Offerings: M-Deal, Q-Deal and Multi PCs (including PC Swaps)</p>      
      <p>Eligible Offerings: <a href="#">M-Deal</a>, <a href="#">Q-Deal</a> and <a href="">Multi PCs</a> (including PC Swaps)</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="column medium-10">
    <div class="bonds-resources-wrap">
      <p class="weight-bold">Additional Social Bonds Resources</p>
      <div class="row small-up-2 medium-up-4">
        <div class="column">
          <div>
            <a href="#"><img src="/images/Social-Bonds-Framework.png" class="no-border" alt="Social Bonds Framework"></a>
          </div>
          <div>
            <a href="#">Social Bonds Framework</a>
          </div>
        </div>
        <div class="column">
          <div><a href="#"><img src="https://dummyimage.com/130x165/bbbbbb/000" alt="Social Overview Handout"></a></div>
          <div><a href="#">Social Overview Handout</a></div>
        </div>
        <div class="column">
          <div><a href="#"><img src="https://dummyimage.com/130x165/bbbbbb/000" alt="2nd Opinion from Sustainalytics"></a></div>
          <div><a href="#">2nd Opinion from Sustainalytics</a></div>
        </div>
      </div>
    </div>
  </div>
</div>