<div class="row">
  <div class="column">
    <div class="media-object stack-for-small"> 
      <div class="media-object-section align-self-middle"> 
        {{> icon-sustainability }} 
      </div> 
      <div class="media-object-section main-section align-self-middle"> 
        <h2 class="investor-product-title">Sustainability Bonds <span class="sub">Supporting  Sustainable Communities by Financing Affordable Housing</span></h2> 
      </div>
    </div>
  </div>
  <div class="column">
    <div class="investor-content weight-normal">
      <br>
      <p class="investor-product-lead">Sustainability  bonds are intended to attract capital to support economic mobility for  residents and economic growth for communities.</p>
      <p>The availability of affordable and workforce housing is fundamental to sustainable  communities. A safe and decent place to live provides the foundation for  creating economic opportunity for residents and <span class="no-wrap">communities alike</span>.</p>

      <p>Sustainability bond proceeds will be used to finance multifamily properties that:</p>
      <ul>
        <li>Provide affordable housing to low-to moderate-income families;</li>
        <li>have features and/or are located in areas that further economic opportunity for residents; and</li>
        <li>may include certain environmental impact features. </li>
      </ul>
      <p>In  addition, the Sustainability Bonds are consistent with the following United  Nations Sustainable Development Goals:</p>
      <ul>
        <li><strong>Goal 1</strong>: No Poverty;</li>
        <li><strong>Goal 7</strong>: Affordable and Clean Energy;</li>
        <li><strong>Goal 10</strong>: Reduced Inequalities; and</li>
        <li><strong>Goal 11</strong>: Sustainable Cities and Communities<strong></strong></li>
      </ul>
      <p>The  Freddie Mac Multifamily <a href="#">Sustainability Bonds Framework</a> is  aligned with the four core components of the ICMA <a class="off-site" href="https://www.icmagroup.org/green-social-and-sustainability-bonds/sustainability-bond-guidelines-sbg/#:~:text=Sustainability%20Bond%20Guidelines%20%28SBG%29%20%20%20Bahasa%20Malay,edition%20%20%20Spanish%20espa%C3%B1ol%202018%20edition%20">Sustainability Bond Guidelines.</a></p>
      <p>Eligible  Offerings: K-SG Deal and <a href="https://mf.freddiemac.com/investors/q-deals.html">Q-Deal</a></p>
      
    </div>
  </div>
</div>
<div class="row">
  <div class="column medium-10">
    <div class="bonds-resources-wrap">
      <p class="weight-bold">Additional Social Bonds Resources</p>
      <div class="row small-up-2 medium-up-4">
        <div class="column">
          <div>
            <a href="#"><img class="no-border" src="https://mf.freddiemac.com/images/social-bonds-framework.png" class="no-border" alt="Sustainability Bonds Framework"></a>
          </div>
          <div>
            <a href="#">Sustainability Bonds Framework</a>
          </div>
        </div>
        <div class="column">
          <div><a href="#"><img class="no-border" src="https://mf.freddiemac.com/images/sustainalytics.png" alt="Sustainability Bonds Overview Handout"></a></div>
          <div><a href="#">Sustainability Bonds Overview Handout</a></div>
        </div>
        <div class="column">
          <div><a href="#"><img class="no-border" src="https://mf.freddiemac.com/images/social-bonds-handout.png" alt="2nd Opinion from Sustainalytics"></a></div>
          <div><a href="#">2nd Opinion from Sustainalytics</a></div>
        </div>
      </div>
    </div>
  </div>
</div>