<div id="mobile-search-sub-nav" class="grid-container mobile-sub-nav fluid hide-for-xlarge" data-toggler=".expanded">
  <div class="grid-x grid-margin-x mobile-search-padding">
    <div class="cell">
        <div class="grid-x grid-margin-x no-padding-left">
          <div class="cell auto">
            <form class="search-form background-concrete" action="/search/" data-abide="" novalidate="">
              <div class="grid-x align-middle">
                <div class="cell auto">
                  <label for="mobile-search-input" class="show-for-sr">Enter your search</label>
                  <input id="mobile-search-input" class="search-input" name="query" type="search" placeholder="Enter your search" />
                </div>
                <div class="cell shrink">
                  <button class="button secondary small no-margin" type="submit">Search</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>