
<!-- Start: MOBILE TOP NAV WRAPPER -->
<div class="mobile-top-nav-wrapper background-navy5 grid-container fluid hide-for-large no-padding">
  <div class="grid-x grid-padding-x">
    <div class="cell">
          <!-- Start: TOP BAR -->
          <div id="mobile-top-nav" class="top-bar mobile-top-nav">
            <div class="top-bar-left">
              <div class="menu">
                <a role="button" id="mobile-freddie-link" class="mobile-freddie-link icon-chevron-down" href="javascript:void(0);" data-toggle="mobile-top-sub-nav">Freddie Mac Home<span class="show-for-sr"> - visit our other sites</span></a>
              </div>
            </div>
            <div class="top-bar-right">
            </div>
          </div>
          <!-- End: TOP BAR -->
          <!-- MOBILE RIBBON & SEARCH -->
          {{> mobile-top-sub-nav}} 
    </div>
  </div>
</div>


