<div id="corp-alert" aria-role="banner" class="notification background-navy5" data-closable="slide-out-up" style="display: none;">
  <div class="notification-alert callout no-margin small-no-sides">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <div class="menu-close">
            <button type="button" class="close-button" data-close="" aria-label="Close navigation">
              <svg aria-hidden="true" viewbox="0 0 21 21" style="width:1.3125rem;height:1.3125rem;" xmlns="http://www.w3.org/2000/svg"><g fill="#fff" fill-rule="evenodd"><path d="M2.504.6l17.99 17.82-1.998 1.98L.506 2.58z"/><path d="M18.496.6L.506 18.42l1.998 1.98 17.99-17.82z"/></g></svg>
            </button>
          </div>
          <div class="grid-x">
            <div class="cell large-auto">
              <div class="media-object small-collapse align-middle large-uncollapse gutter-right-large">
                <div class="media-object-section show-for-large">
                  <div class="info-icon"></div>
                </div>
                <div class="media-object-section main-section">
                  <div class="info-icon hide-for-large"></div>
                  <h2 class="h4 weight-medium">Relief for Homeowners and Renters</h2>
                  <p class="no-margin">We’re extending help to millions of homeowners and renters facing financial hardships as a result of <span class="no-wrap">COVID-19.</span></p>
                </div>
              </div>
            </div>
            <div class="cell shrink align-self-middle">
              <div class="no-wrap half-margin-bottom">
                <a class="button primary" href="https://myhome.freddiemac.com/getting-help/relief-for-homeowners.html">Homeowners</a>
                <a class="button primary" href="https://myhome.freddiemac.com/renting/relief-for-landlords-and-renters.html">Renters</a>  
              </div>
            </div>
          </div>
          <div class="text-center hide-for-medium">
            <a role="button" href="javascript:void(0);" class="weight-medium reduce uppercase" data-close>Dismiss<span class="show-for-sr"> this notification</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

