<!-- Start: TOP NAV WRAPPER -->

<div class="top-nav-wrapper grid-container full fluid-at-xlarge show-for-large">
  <div class="grid-x">
    <div class="cell">
        <!-- Start: TOP NAV -->
        <div id="top-nav" class="top-bar top-nav">
          <div class="top-bar-right">
            <ul class="menu top-nav-parent dropdown" data-dropdown-menu data-disable-hover="true" data-click-open="true">
              <li><a class="active" href="/corporate/">Freddie Mac Home</a></li>
              <li class="is-dropdown-submenu-parent opens-right"><a id="sf-link" href="javascript:void(0)" role="button"><span class="show-for-sr">View sites for </span>Single-Family Division</a>
                <ul class="menu top-nav-nested" style="display: none;">
                  <li><a href="https://sf.freddiemac.com/">
                    <strong>Single-Family Division</strong><br /><br />
                    <span>For lenders, servicers and industry partners.</span>
                  </a></li>
                  <li><a href="https://guide.freddiemac.com/">
                    <strong>Seller/Servicer Guide</strong><br /><br />
                    <span>Freddie Mac’s selling and servicing requirements.</span>
                  </a></li>
                  <li><a href="https://my.sf.freddiemac.com/">
                    <strong>Client Resource Center</strong><br /><br />
                    <span>Articles, news, links and more for mortgage sellers and servicers. </span>
                  </a></li>
                </ul>
              </li>
              <li><a href="https://mf.freddiemac.com/">Multifamily Division</a></li>
              <li><a href="/capital-markets/">Capital Markets Division</a></li>
              <li class="is-dropdown-submenu-parent opens-left"><a id="renters-link" href="javascript:void(0)" role="button"><span class="show-for-sr">View sites for </span>Renters, Buyers and Owners</a>
                <ul class="menu top-nav-nested" style="display: none;">
                  <li><a href="https://myhome.freddiemac.com/">
                    <strong>My Home by Freddie Mac®</strong><br /><br />
                    <span>Resources to help our rent, buy and own your home.</span>
                  </a></li>
                  <li><a href="https://loanlookup.freddiemac.com/">
                    <strong>Do we own your mortgage?</strong><br /><br />
                    <span>Find out if Freddie Mac owns your loan using our secured lookup tool.</span>
                  </a></li>
                  <li><a href="https://myhome.freddiemac.com/renting/lookup.html">
                    <strong>Did we finance your apartment?</strong><br /><br />
                    <span>Use our lookup tool to see if Freddie Mac financed your apartment building.</span>
                  </a></li>
                  <li><a href="https://www.homesteps.com/">
                    <strong>Homes for sale</strong><br /><br />
                    <span>By a home from HomeSteps®, the real estate sales unit of Freddie Mac.</span>
                  </a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- End: TOP NAV -->
    </div>
  </div>

</div>