<!-- Start: MAIN NAV WRAPPER -->
<div class="main-nav-wrapper grid-container fluid show-for-xlarge">
  <div class="grid-x">
    <div class="cell">
          <!-- Start: MAIN NAV -->
          <div class="top-bar main-nav">
            <div class="top-bar-left shrink">
              <div class="header-logo logo-color logo-white">
                <a href="/">
                  {{> main-logo}}
                </a>
              </div>
            </div>
            <div class="top-bar-right">
              <ul class="menu" data-enable-hover="true">
                <li><a class="main-nav-item" id="section-mediaroom" href="/lenders/" data-toggle="lenders-sub-nav"><span>Lenders</span></a></li>
                <li><a class="main-nav-item" id="section-mediaroom" href="/lenders/" data-toggle="investors-sub-nav"><span>Investors</span></a></li>
                <li><a class="main-nav-item" id="section-business" href="/borrowers/" data-toggle="borrowers-sub-nav"><span>Borrowers</span></a></li>
                <li><a class="main-nav-item" id="section-research" href="/viewpoints/" data-toggle="products-sub-nav"><span>Products</span></a></li>
                <li><a class="main-nav-item" id="section-research" href="/research/" data-toggle="news-sub-nav"><span>News &amp; Research</span></a></li>
                <li><a class="main-nav-item first" id="section-about" href="/about/" data-toggle="about-sub-nav"><span>About</span></a></li>
                <li><a class="main-nav-item pre-divider" id="section-careers" href="https://careers.freddiemac.com/" data-toggle="careers-sub-nav"><span>Careers</span></a></li>
                <li><a class="main-nav-item post-divider last" id="section-search" href="/search/" data-toggle="search-sub-nav"><span>Search</span> 
                    <svg class="search-icon-desktop" stroke="currentColor" viewbox="0 0 19 19" style="width:1rem;height:1rem;" xmlns="http://www.w3.org/2000/svg"><g transform="matrix(-1 0 0 1 18.63 0)" stroke-width="2" fill="none" fill-rule="evenodd"><circle cx="10.13" cy="8.234" r="6.5"/><path d="M5.63 12.734l-5 5"/></g></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- End: MAIN NAV -->
    </div>
  </div>
</div>

<!-- SUB NAV PARTIALS -->
<div class="dropdown-wrapper show-for-xlarge" style="display:none;">
  
  {{> lenders-nav}}
  {{> investors-nav}}
  {{> borrowers-nav}}
  {{> products-nav}}
  {{> research-nav}}
  {{> news-nav}}
  {{> about-nav}}
  {{> careers-nav}}
</div>
