<!-- Start: MOBILE MAIN NAV WRAPPER -->
<div class="mobile-main-nav-wrapper hide-for-xlarge">
  <div class="grid-x">
    <div class="cell large-4 xlarge-2 auto">
      <div class="menu mobile-header-logo">
        <a href="/"><img class="mobile-header-logo-img" src="/images/FreddieMacLogo-no-tagline.svg" alt=""/></a>
      </div>
    </div>
    <div class="cell auto">
      <div class="top-bar">
        <div class="top-bar-left">
        </div>
        <div class="top-bar-right">
          <ul class="menu align-right">
            <li>
              <div class="mobile-icon-wrapper">
                <button id="mobile-search-btn" type="button" class="mobile-search-btn" data-toggle="mobile-search-sub-nav" aria-label="search">
                  <svg viewbox="0 0 18 18" aria-hidden="true" class="mobile-search-icon" stroke="currentColor" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none"><circle class="st0" cx="10.5" cy="7.5" r="6.5"/><path class="st0" d="M6,12l-5,5"/></g></svg>
                </button>
                <button id="toggle-menu" type="button" class="toggle-menu" data-toggle="mobile-main-nav" aria-controls="mobile-main-nav">
                <span class="show-for-sr">Toggle </span> 
                <div class="hamburger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                </button>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{> mobile-search-sub-nav}}
<div class="mobile-main-nav off-canvas position-right hide-for-xlarge"  id="mobile-main-nav" data-off-canvas="" data-transition="overlay"> 
  <ul id="mobile-drilldown" class="menu drilldown vertical" data-drilldown=""> 
    <li class="header">
      <a href="/about/">About Us</a>
      <ul class="menu vertical nested">
        <li><a href="/about/">Overview</a></li>
        <li><a href="/about/who-we-are.html">Who We Are</a></li>
        <li><a href="/about/what-we-do.html">What We Do</a></li>
        <li><a href="/about/our-mission/">Our Mission</a>
          <ul class="menu vertical nested">
            <li><a href="/about/our-mission/diversity.html">Our Brand</a></li>
            <li><a href="/about/our-mission/results.html">Our Results</a></li>
            <li><a href="/about/covid-19.html">Our COVID-19 Response</a></li>            
          </ul>
        </li>
      </ul>
    </li>
    
    <li class="header">
      <a href="/investors/">Investors</a>
      <ul class="menu vertical nested">
        <li><a href="/investors/">Overview</a></li>
        <li><a href="/investors/securities.html">Securities</a>
          <!-- Should Securities be listed in the nav? 
          <ul class="menu vertical nested">
            <li><a href="/investors/k-deals.html">K-Deals</a></li>
            <li><a href="/investors/kt-deals.html">KT-Deals</a></li>
          </ul> -->
        </li>
        <li><a href="/investors/impact-bonds.html">Impact Bonds</a></li>
        <li><a href="/investors/issuance-calendars.html">Issuance Calendars</a></li>
        <li><a href="/investors/presentations.html">Presentations</a></li>
        <li><a href="/investors/data.html">Performance Data</a></li>
        <li><a href="/investors/sd_remic_lookup.html">Lookup Tools</a></li>
      </ul>
    </li>
    
    <li class="header">
      <a href="/research-and-perspectives/">Research</a>
      <ul class="menu vertical nested">
        <li><a href="/research/">Overview</a></li>
        <li><a href="/research/">All Research</a></li>
        <li><a href="/aimi/">AIMI</a></li>
        <li><a href="/research/duty-to-serve/">Duty to Serve</a></li>
        <li><a href="/research/podcast/">Podcast</a>
          <ul class="menu vertical nested">
            <li><a href="/research/podcast/">Overview</a></li>
            <li><a href="/research/podcast/">Series I</a></li>   
            <li><a href="/research/podcast/">Series II</a></li>             
          </ul>
        </li>
        <li><a href="/research/affordable-housing/">Affordable Housing</a>
          <ul class="menu vertical nested">
            <li><a href="/research/affordable-housing/">Overview</a></li>
            <li><a href="/research/datasets/sf_loanlevel_dataset.page">Sub Topic I</a></li>
            <li><a href="/research/datasets/sf_loanlevel_dataset.page">Sub Topic II</a></li>
            <li><a href="/research/datasets/sf_loanlevel_dataset.page">Sub Topic III</a></li>
          </ul>
        </li>
        <li><a href="/perspectives/">Viewpoints</a></li>
      </ul>
    </li>

    <li class="header">
      <a href="/news/">News</a>
      <ul class="menu vertical nested">
        <li><a href="/media-room/">Customer News</a></li>
        <li><a href="/perspectives/">Viewpoints</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3976&amp;a9d908dd_year%5Bvalue%5D=_none&amp;op=Filter&amp;a9d908dd_widget_id=a9d908dd&amp;form_build_id=form-dVKtxuY8ucm4pK5ENFjU_AUlflIkEISSjeb1HUsC5U8&amp;form_id=widget_form_base">Multifamily Release Archive</a></li>
      </ul>
    </li>
    <li class="header">
      <a href="https://careers.freddiemac.com/">Careers</a>
      <ul class="menu vertical nested">
        <li><a href="https://careers.freddiemac.com/">Overview</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/search-results">Search for Career Opportunities</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/our-people">Our People</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/benefits">Our Benefits</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/students">Student Opportunities</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/blog">Careers Blog</a></li>
      </ul>
    </li>
    <!-- link to let keyboard users escape mobile nav -->
    <li class="header nested-close-button">
      <a href="javascript:void(0);" role="button" data-close="" class="visible-for-keyboard" tabindex="0">Close Navigation</a> 
    </li>    
  </ul>
</div>