<!-- Start: MOBILE MAIN NAV WRAPPER -->
<div class="mobile-main-nav-wrapper hide-for-xlarge">
  <div class="grid-x">
    <div class="cell large-4 xlarge-2 auto">
      <div class="menu mobile-header-logo">
        <a href="/"><img class="mobile-header-logo-img" src="/images/FreddieMacLogo-no-tagline.svg" alt=""/></a>
      </div>
    </div>
    <div class="cell auto">
      <div class="top-bar">
        <div class="top-bar-left">
        </div>
        <div class="top-bar-right">
          <ul class="menu align-right">
            <li>
              <div class="mobile-icon-wrapper">
                <button id="mobile-search-btn" type="button" class="mobile-search-btn" data-toggle="mobile-search-sub-nav" aria-label="search">
                  <svg viewbox="0 0 18 18" aria-hidden="true" class="mobile-search-icon" stroke="currentColor" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><g stroke-width="2" fill="none"><circle class="st0" cx="10.5" cy="7.5" r="6.5"/><path class="st0" d="M6,12l-5,5"/></g></svg>
                </button>
                <button id="toggle-menu" type="button" class="toggle-menu" data-toggle="mobile-main-nav" aria-controls="mobile-main-nav">
                <span class="show-for-sr">Toggle </span> 
                <div class="hamburger-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                </button>
            </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{> mobile-search-sub-nav}}
<div class="mobile-main-nav off-canvas position-right hide-for-xlarge"  id="mobile-main-nav" data-off-canvas="" data-transition="overlay"> 
  <ul id="mobile-drilldown" class="menu drilldown vertical" data-drilldown=""> 
    <li class="header">
      <a href="/about/">About Us</a>
      <ul class="menu vertical nested">
        <li><a href="/about/">Overview</a></li>
        <li><a href="/about/leaders/">Our Leaders</a></li>
        <li><a href="/governance/">Corporate Governance</a>
          <ul class="menu vertical nested">
            <li><a href="/governance/">Overview</a></li>
            <li><a href="/governance/annualmtg.html">Annual Meeting</a></li>
            <li><a href="/governance/board-authority.html">Authority of Board</a></li>
            <li><a href="/governance/board-committees.html">Board Committees</a></li>
            <li><a href="/governance/board-directors.html">Board of Directors</a></li>
            <li><a href="/governance/code-conduct.html">Codes of Conduct</a></li>
            <li><a href="/governance/contact.html">Contact the Board</a></li>
          </ul>
        </li>
        <li><a href="/about/company/">Our Company</a></li>
        <li><a href="/investors/">Investor Relations</a>
          <ul class="menu vertical nested">
            <li><a href="/investors/">Overview</a></li>
            <li><a href="/investors/financials/">Corporate Financials</a>
              <ul class="menu vertical nested">
                <li><a href="/investors/financials/">Overview</a></li>
                <li><a href="/investors/financials/annual-reports.html">Annual Reports</a></li>
                <li><a href="/investors/financials/earnings-releases.html">Earnings Releases</a></li>
                <li><a href="/investors/financials/monthly-volume-summaries.html">Monthly Volume Summaries</a></li>
                <li><a href="/investors/financials/sec-filings.html">SEC Filings</a></li>
                <li><a href="/investors/publication_ordering.html">Request Financial Documents</a></li>
              </ul> 
            </li>
            <li><a href="/investors/stock.html">Common Stock</a></li>
            <li><a href="/investors/preferred-stock.html">Preferred Stock</a></li>
            <li><a href="/investors/resources.html">Investor Resources</a>
              <ul class="menu vertical nested">
                <li><a href="/investors/resources.html">Overview</a></li>
                <li><a href="/investors/faq.html">Investor FAQ</a></li>
                <li><a href="/investors/credit-ratings.html">Credit Ratings</a></li>
                <li><a href="/investors/contact.html">Contact Information</a></li>
              </ul> 
            </li>
          </ul>
        </li>
        <li><a href="/about/covid-19.html">Our COVID-19 Response</a></li>
        <li><a href="/about/diversity/">Diversity, Equity &amp; Inclusion</a></li>
        <li><a href="/about/duty-to-serve/">Duty to Serve</a></li>
        <li><a href="/about/50yearsofhome.html">50 Years of Home Interactive Map</a></li>
        <li><a href="/about/business/affordable-housing.html">Affordable Housing</a></li>
        <li><a href="/about/sustainability/">Sustainability</a></li> 
      </ul>
    </li>
    
    <li class="header">
      <a href="/about/business/">Our Business</a>
      <ul class="menu vertical nested">
        <li><a href="/about/business/">Overview</a></li>
        <li><a href="https://sf.freddiemac.com/">Single-Family Division</a></li>
        <li><a href="https://mf.freddiemac.com/">Multifamily Division</a></li>
        <li><a href="/capital-markets/">Capital Markets Division</a></li>
      </ul>
    </li>
    
    <li class="header">
      <a href="/research-and-perspectives/">Research &amp; Perspectives</a>
      <ul class="menu vertical nested">
        <li><a href="/research-and-perspectives/">Overview</a></li>
        <li><a href="/research/">All Research</a></li>
        <li><a href="/pmms/">Mortgage Rates</a>
          <ul class="menu vertical nested">
            <li><a href="/pmms/">Overview</a></li>
            <li><a href="/pmms/about-pmms.html">About</a></li>
            <li><a href="/pmms/pmms_faqs.html">Frequently Asked Questions</a></li>
            <li><a href="/pmms/pmms_archives.html">Archive</a></li>
            <li><a href="/pmms/pmms_signup.html">Survey Participation</a></li>
            <li><a href="/pmms/syndication/how_to.html">Syndicate</a></li>
          </ul>
        </li>
        <li><a href="/research/insight/">Insights &amp; Research Notes</a></li>
        <li><a href="/research/forecast/">Forecast</a></li>
        <li><a href="/research/consumer-research/">Consumer Research</a></li>
        <li><a href="/research/indices/">Indices</a>
          <ul class="menu vertical nested">
            <li><a href="/research/indices/">Overview</a></li>
            <li><a href="/research/indices/house-price-index.page">House Price Index</a></li>   
            <li><a href="/research/indices/fmhpi-faq.page">House Price Index FAQs</a></li>
            <li><a href="/research/indices/aimi.page">Apartment Investment Market Index (AiMi)</a></li>
            <li><a href="/research/indices/about.page">About AIMI</a></li>
            <li><a href="/research/indices/faq.page">AIMI FAQS</a></li>
          </ul>
        </li>
        <li><a href="/research/datasets/">Datasets</a>
          <ul class="menu vertical nested">
            <li><a href="/research/datasets/">Overview</a></li>
            <li><a href="/research/datasets/sf_loanlevel_dataset.page">Single-Family Loan-Level Dataset</a></li>
            <li><a href="/research/datasets/refinance-stats/index.page">Quarterly Refinance Statistics</a></li>
            <li><a href="/research/datasets/refinance-stats/faq.page">Quarterly Refinance Statistics FAQs</a></li>
            <li><a href="/research/datasets/refinance-stats/archive.page">Quarterly Refinance Statistics Archive</a></li>
            <li><a href="/research/datasets/cofi.page">Federal Cost of Funds Index</a></li>
            <li><a href="/research/datasets/lihtc.page">Freddie Mac LIHTC Equity Investments</a></li>
          </ul>
        </li>
        <li><a href="/perspectives/">All Perspectives</a></li>
      </ul>
    </li>

    <li class="header">
      <a href="/media-room/">Media Room</a>
      <ul class="menu vertical nested">
        <li><a href="/media-room/">Media Room &amp; Resources</a></li>
        <li><a href="https://freddiemac.gcs-web.com/">Press Release Archive</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3951&a9d908dd_year%5Bvalue%5D=_none&op=Filter&a9d908dd_widget_id=a9d908dd&form_build_id=form-S97sXA2fDM4fHESP1e-iKHODRY4V5R7bPkJcMozCKWc&form_id=widget_form_base">Corporate Release Archive</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3981&amp;a9d908dd_year%5Bvalue%5D=_none&amp;op=Filter&amp;a9d908dd_widget_id=a9d908dd&amp;form_build_id=form-Gutm8Xlx4-1CiGXTBCljDbgia4uHf33myhE-5deB1OE&amp;form_id=widget_form_base">Single-Family Release Archive</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3976&amp;a9d908dd_year%5Bvalue%5D=_none&amp;op=Filter&amp;a9d908dd_widget_id=a9d908dd&amp;form_build_id=form-dVKtxuY8ucm4pK5ENFjU_AUlflIkEISSjeb1HUsC5U8&amp;form_id=widget_form_base">Multifamily Release Archive</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3961&amp;a9d908dd_year%5Bvalue%5D=_none&amp;op=Filter&amp;a9d908dd_widget_id=a9d908dd&amp;form_build_id=form-chdfk1_DhsHQHwEhD2oKNi-tEWNpPERyHZ0vnwEYDGI&amp;form_id=widget_form_base">Housing &amp; Economic Research Archive</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3956&amp;a9d908dd_year%5Bvalue%5D=_none&amp;op=Filter&amp;a9d908dd_widget_id=a9d908dd&amp;form_build_id=form-xhDqWJVRjk4WVEvgaZ6Jv2eJd8L7a2_-lxwJTfWoZeI&amp;form_id=widget_form_base">Capital Markets Release Archive</a></li>
        <li><a href="https://freddiemac.gcs-web.com/?a9d908dd_field_nir_news_category%5Bvalue%5D%5B%5D=3966&a9d908dd_year%5Bvalue%5D=_none&op=Filter&a9d908dd_widget_id=a9d908dd&form_build_id=form-x6suZWhtCDKqF0XLblkh2NYbfmd5B_kpMX04t7QloHg&form_id=widget_form_base">Investor Relations Release Archive</a></li>
      
      </ul>
    </li>
    <li class="header">
      <a href="https://careers.freddiemac.com/">Careers</a>
      <ul class="menu vertical nested">
        <li><a href="https://careers.freddiemac.com/">Overview</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/search-results">Search for Career Opportunities</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/our-people">Our People</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/benefits">Our Benefits</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/students">Student Opportunities</a></li>
        <li><a href="https://careers.freddiemac.com/us/en/blog">Careers Blog</a></li>
      </ul>
    </li>
    <!-- link to let keyboard users escape mobile nav -->
    <li class="header nested-close-button">
      <a href="javascript:void(0);" role="button" data-close="" class="visible-for-keyboard" tabindex="0">Close Navigation</a> 
    </li>    
  </ul>
</div>