// anchors that aren't buttons, when used over dark backgrounds (modals, rotators, call outs, etc.)
@mixin anchor-on-dark($decoration: underline){
  color: currentColor;
  position: relative;
  text-decoration: $decoration;
  box-decoration-break: clone;
  &::after {
    content: "";
    position: absolute;
    left: -5px; 
    top: 0;
    bottom: 0;
    width: calc(100% + 10px);
    height: 100%;
    border-radius: 4px;
    background: rgba($white, 0);
    transition: background 0.25s ease 0s;       
  }
  &:hover::after,
  &:focus::after  {
    background: rgba($white, 0.2);
  }
  &:active::after  {
    background: rgba($white, 0.3);
    transition: none;
  }
  &.inline { 
    color: currentColor;
    position: relative;
    border-radius: 4px;
    background: rgba($white, 0);
    transition: background 0.25s ease 0s; 
    box-decoration-break: clone;    
    &:hover,
    &:focus  {
      background: rgba($white, 0.2);
    }
    &:active  {
      background: rgba($white, 0.3);
      transition: none;
    }
  }  
}
 