/// Adds styles for an orbit slide caption. 
@mixin orbit-caption-custom(
  $edge: bottom, 
  $background: $orbit-caption-background, 
  $padding: $orbit-caption-padding
) {  
  position: absolute;
  @if($edge == bottom) {
    top: auto;
    bottom: 0;
  }
  @if($edge == top) {
    bottom: auto;
    top: 0;
  }
  width: 100%;
  margin: 0;
  padding: $padding;
  background-color: $background;
  color: color-pick-contrast($background);
}


@mixin nav-submenu-parent-hover(){
}

// link style for primary and secondary nav but not ribbon
@mixin nav-desktop-link($color: $medium-gray, $activecolor: map-get($colors, green3)){  
  color: $color;
  transition: color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;   
  &.active {
    color: $activecolor;
    border-bottom-color: $activecolor;  
  }
  &:focus,
  &:hover {
    color: $activecolor;
    border-bottom-color: $activecolor;            
  }
}
@mixin chevron-h2($left: map-get($colors, green4), $right: map-get($colors, green5)){ 
  transition: background-size 350ms ease-in;
  background-color: $right; 
  background-size: 105% 50%, 105% 50%;
  background-position: 0 0, 0 100%;   
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(57deg, $left 0%, $left 85%, $right 85%, $right 100%),   
    repeating-linear-gradient(-57deg, $right 0%, $right 15%, $left 15%, $left 100%),none;  
  &.animate-once {
    @include breakpoint(large){
      background-size: 60% 50%, 60% 50%;  
    }
  }
    
}
@mixin chevron-h2-50($left: map-get($colors, green4), $right: map-get($colors, green5)){
  transition: background-size 350ms ease-in;
  background-color: $right; 
  background-size: 105% 50%, 105% 50%; 
  background-position: 0 0, 0 100%;   
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(57deg, $left 0%, $left 50%, $right 50%, $right 100%),   
    repeating-linear-gradient(-57deg, $right 0%, $right 50%, $left 50%, $left 100%),none;
  &.animate-once {
    @include breakpoint(large){
      background-size: 40% 50%, 40% 50%; 
    }
  }
}
@mixin chevron-l-r($left: map-get($colors, green1), $right: map-get($colors, green3)){
  transition: background-size 350ms ease-in;
  background-color: $right;      
  background-size: 105% 50%, 105% 50%; 
  background-position: 0 0, 0 100%;    
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(57deg, $left 0%, $left 75%, $right 75%, $right 100%),   
    repeating-linear-gradient(-57deg, $right 0%, $right 25%, $left 25%, $left 100%),none;
  &.animate-once {
    @include breakpoint(large){
      background-size: 60% 50%, 60% 50%; 
    }
  }
}
@mixin chevron-v4($shade: map-get($colors, blue5), $darker-on-bottom: false){
  background-color: $shade;  
  background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 100% 0;   
  background-repeat: no-repeat;
  @if($darker-on-bottom == true){
    background-image: repeating-linear-gradient(147deg,
    $shade 0%,  
    $shade 40%, 
    darken($shade, 2%) 40%,
    darken($shade, 2%) 60%,
    darken($shade, 5%) 60%,
    darken($shade, 5%) 80%,
    darken($shade, 8%) 80%,
    darken($shade, 8%) 100%), 
    repeating-linear-gradient(-147deg, 
    $shade 0%,  
    $shade 40%, 
    darken($shade, 2%) 40%,
    darken($shade, 2%) 60%,
    darken($shade, 5%) 60%,
    darken($shade, 5%) 80%,
    darken($shade, 8%) 80%,
    darken($shade, 8%) 100%), 
    none;
  }
  @if($darker-on-bottom == false){
    background-image: repeating-linear-gradient(147deg,
    $shade 0%,  
    $shade 40%, 
    lighten($shade, 2%) 40%,
    lighten($shade, 2%) 60%,
    lighten($shade, 5%) 60%,
    lighten($shade, 5%) 80%,
    lighten($shade, 8%) 80%,
    lighten($shade, 8%) 100%), 
    repeating-linear-gradient(-147deg, 
    $shade 0%,  
    $shade 40%, 
    lighten($shade, 2%) 40%,
    lighten($shade, 2%) 60%,
    lighten($shade, 5%) 60%,
    lighten($shade, 5%) 80%,
    lighten($shade, 8%) 80%,
    lighten($shade, 8%) 100%), 
    none;
  }
  &.tall-content-band {
    @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 160px)) {
      background-size: 66vw 100%, 66vw 100%;
      background-position: 0 0, 66vw 0;   
    }
    @include breakpoint(large) {
      background-size: 75vw 100%, 75vw 100%;
      background-position: 0 0, 75vw 0; 
    }
  }
} 

@mixin chevron-vmulti($shade: map-get($colors, green3)){
  position: relative;
  background-color: $shade;  
  background-size: 40vw 100%, 75vw 100%, 75vw 100%;
  background-position: 0 0, 0 0, 75vw 0;   
  background-repeat: no-repeat;
  background-image: 
  linear-gradient(to right, $shade 50%, transparent 50%),
  repeating-linear-gradient(147deg,
  $shade 0%,  
  $shade 20%, 
  lighten(saturate($shade,4%), 2%) 20%,
  lighten(saturate($shade,4%), 2%) 40%,
  lighten(saturate($shade,8%), 6%) 40%,
  lighten(saturate($shade,8%), 6%) 60%,
  lighten(saturate($shade,2%), 1%) 60%,
  lighten(saturate($shade,2%), 1%) 100%), 
  repeating-linear-gradient(-147deg, 
  $shade 0%,  
  $shade 20%, 
  darken(desaturate($shade,3%), 4%) 20%,
  darken(desaturate($shade,3%), 4%) 40%,
  $shade 40%,
  $shade 60%,
  darken(desaturate($shade,3%), 4%) 60%,
  darken(desaturate($shade,3%), 4%) 100%), 
  none;
  &.tall-content-band {
    @include breakpoint(large) {
      background-size: 90vw 100%, 75vw 100%, 75vw 100%;
      background-position: 0 0, 0 0, 75vw 0;   
      background-image: 
      linear-gradient(to right, $shade 50%, transparent 50%),
      repeating-linear-gradient(147deg,
      $shade 0%,  
      $shade 50%, 
      lighten(saturate($shade,4%), 2%) 50%,
      lighten(saturate($shade,4%), 2%) 67%,
      lighten(saturate($shade,8%), 6%) 67%,
      lighten(saturate($shade,8%), 6%) 85%,
      lighten(saturate($shade,2%), 1%) 85%,
      lighten(saturate($shade,2%), 1%) 100%), 
      repeating-linear-gradient(-147deg, 
      $shade 0%,  
      $shade 50%, 
      darken(desaturate($shade,3%), 4%) 50%,
      darken(desaturate($shade,3%), 4%) 67%,
      $shade 67%,
      $shade 85%,
      darken(desaturate($shade,3%), 4%) 85%,
      darken(desaturate($shade,3%), 4%) 100%), 
      none; 
    }  
    @include breakpoint(xxlarge) {
      background-size: 90vw 100%, 78vw 100%, 78vw 100%;
      background-position: 0 0, 0 0, 78vw 0; 
    }  
  }  
} 
@mixin title-background($shade: darken(map-get($colors, blue5), 2%)){
  background: $shade;   
  background-size: 120% 100%, 120% 100%;
  background-position: 0 0, 120% 0; 
  background-repeat: no-repeat;
  background-image: repeating-linear-gradient(147deg,
  $shade 0%,  
  $shade 70%, 
  lighten($shade, 2%) 70%,
  lighten($shade, 2%) 85%,
  lighten($shade, 5%) 85%,
  lighten($shade, 5%) 100%), 
  repeating-linear-gradient(-147deg, 
  $shade 0%,  
  $shade 70%, 
  lighten($shade, 2%) 70%,
  lighten($shade, 2%) 85%,
  lighten($shade, 5%) 85%,
  lighten($shade, 5%) 100%), 
  none;
  @include breakpoint(large) {
    background-size: 105% 100%, 105% 100%;
    background-position: 0 0, 105% 0; 
  }
  @include breakpoint(xlarge) {
    background-size: 61em 100%, 61em 100%;
    background-position: 0 0, 61em 0; 
  }
  @include breakpoint(xxlarge) {
    background-size: 70em 100%, 70em 100%;
    background-position: 0 0, 70em 0; 
  }  
}
@mixin list-divided($color: darken($light-gray, 5%), $padding-base: $global-padding, $last-border: false){
  > li { 
    margin: 0;
    padding-bottom: $padding-base;
    border-bottom: 1px solid $color;     
    + li {
      padding-top: $padding-base;
    }
    > :last-child {
      margin-bottom: 0;
    }
    @if ($last-border == false) {
      &:last-child {
        padding-bottom: 0;
        border-bottom-width: 0;
      }
    }  
  } 
}
//
@mixin constrained-row(){
  max-width: rem-calc(1400);
  margin-left: auto;
  margin-right: auto;   
  padding-right: rem-calc(20);
  padding-left: rem-calc(20); 
  @include breakpoint(xlarge) {
    padding-right: rem-calc(40);
    padding-left: rem-calc(40); 
    max-width: rem-calc(1400+60);
  }
  @include breakpoint(xxlarge) {
    padding-right: rem-calc(50);
    padding-left: rem-calc(50); 
    max-width: rem-calc(1400+40+40);
  }
  &.column {
    padding-right: rem-calc(30);
    padding-left: rem-calc(30); 
    @include breakpoint(large) {
      padding-right: rem-calc(40);
      padding-left: rem-calc(40);
    }
    @include breakpoint(xlarge) {
      padding-right: rem-calc(60);
      padding-left: rem-calc(60); 
    }
    @include breakpoint(xxlarge) {
      padding-right: rem-calc(60);
      padding-left: rem-calc(60); 
    }
  }
}
// mixin to add rss feed icon to links in a list
@mixin rss-list($color: $white) {
  position: relative;
  margin-bottom: 1rem;
  &::before {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.375em;
    position: relative;
    bottom: -0.1em;
    background: transparent icon(rss, $color, 1rem, 1rem, 0, 0, 500, 460) no-repeat center center;
  } 
}


// calculate color differences from beginning and ending color across number of steps, and return color at particular step
// just pass a start color/end color, number of steps from one to the other, and the current step to get the color.
@function color-shift($a, $b, $steps, $step) {
  @if $step == 1 or $steps < 2 { 
    @return $a;
  }
  @else if $step >= $steps {
    @return $b;
  }
  @else {  
    $shift: $step / $steps;
    $sat: saturation($a) - saturation($b);
    $lig: lightness($a) -  lightness($b);
    $hue: hue($a) - hue($b);
    @if $hue > 180 {
      $hue: $hue - 360; 
    }  
    @else if $hue <= -180 {
      $hue: $hue + 360;      
    }
    $hue2: adjust-hue($a, -$hue * $shift);
    $sat2: if($sat > 0, desaturate($hue2, abs($sat) * $shift), saturate($hue2, abs($sat) * $shift));
    $lig2:  if($lig > 0, darken($sat2, abs($lig) * $shift), lighten($sat2, abs($lig) * $shift));
    @return $lig2;
  }
}
   
//  calc new aspect ratio
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

// em-calc()
// easier to remember than the zf-name.
@function em-calc($value) {
  $new: -zf-bp-to-em($value);
  @return $new;
}
@mixin fluid-type(
    $min-font-size: 16px, 
    $max-font-size: 32px, 
    $max-bp: xxlarge
  ) {
  font-size: $min-font-size;
  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / 
     ($min-font-size * 0 + 1)))} * ( (100vw - #{$global-width-min}) / #{(($global-width / 
     ($global-width * 0 + 1)) - ($global-width-min / ($global-width-min * 0 + 1)))}));
  @include breakpoint($max-bp) {
    font-size: rem-calc($max-font-size);
  }
}
