<div class="lender-container">
  <div class="oval-hero position-relative">
    <div class="row-wrapper">
      <div class="row">
        <div class="column medium-9 large-7 xlarge-6">
          <div class="oval-hero--content">
            <h1 class="left-hero weight-bold accent-primary">With You Where <br class="hide-for-medium"> <br class="show-for-medium">You Optigo</h1>
          <div class="sub">
            <p class="accent-gray text-left weight-normal text-flex-18-25">Optigo<span class="inline-block weight-medium position-relative" style="opacity: 0.85; top: -0.2em; font-size: 0.95em;">®</span> lenders have access to diverse loan offerings that support conventional, small balance loans, affordable housing, seniors housing and more. Scroll down to review the application process.</p>
          </div>
          </div>              
        </div>
        <div class="column">
          <div class="oval-hero--graphic">
            <img class="no-border hide-for-sr" src="/images/optigo-hero-O-quality-60.jpg" alt="ignore">      
          </div>
        </div>                 
      </div>
      <svg aria-hidden="true" class="curve" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path d="M0 37.6V320h1440V37.6c-221.6 92.5-464.8 143.7-720 143.7S221.6 130.2 0 37.6z" fill="#fff"/></svg>
    </div>
  </div>
  <div class="le-content">
    <div class="row-wrapper gutter-top-large">
      <div class="row">
        <div class="column">
          <h1 class="text-center">Our Lender Approval Process</h1>
          <div class="callout background-concrete">
            <div class="media-object stack-for-small align-middle">
              <div class="media-object-section">
                <div class="graphic-container">
                  <img class="full no-border horizontal" src="/images/1-compass-map.png" alt="ignore">
                </div>                    
              </div>
              <div class="media-object-section main-section">
                <h2>Understand the Process</h2>                      
                  <p>Start here: Our application roadmap provides the steps needed for us to consider your application.</p>
                  <p><a href="/docs/becoming_optigo_lender_roadmap.pdf" class="button secondary">Application Roadmap</a></p>
              </div>                  
            </div>
          </div>
          <div class="callout"></div>
          <div class="callout background-concrete">
            <div class="media-object stack-for-small align-middle">
              <div class="media-object-section">
                <div class="graphic-container">
                  <img class="full no-border vertical" src="/images/3-information.png" alt="ignore">
                </div>
              </div>
              <div class="media-object-section main-section">
                <h2>Review Sustainability Measures</h2>                      
                  <p>Get an overview of the sustainability measures addressed in the <span class="no-wrap">prescreen form.</span></p>
                  <p><a href="/docs/prescreen_sustainability_measures.pdf" class="button secondary">Prescreen Overview</a></p>
              </div>
            </div> 
          </div>
          <div class="callout"></div>
          <div class="callout background-concrete">
            <div class="media-object stack-for-small align-middle">
              <div class="media-object-section">
                <div class="graphic-container">
                  <img class="full no-border vertical" src="/images/2-eligibility.png" alt="ignore">
                </div>
              </div>
              <div class="media-object-section main-section">
                <h2>Determine Eligibility</h2>                      
                <p>Prospective Optigo lenders must meet our eligibility requirements (Guide Chapter 3) before they will be considered to become approved.</p>
                <p><a href="/docs/chapters/mf_guide_ch_3.pdf" class="button secondary">Guide Chapter 3</a></p>
              </div>
            </div> 
          </div>
          <div class="callout"></div>
          <div class="callout background-concrete">
            <div class="media-object stack-for-small align-middle">
              <div class="media-object-section">
                <div class="graphic-container">
                  <img class="full no-border horizontal" src="/images/4-submit-interest.png" alt="ignore">
                </div>
               </div>
              <div class="media-object-section main-section">
                <h2>Submit Interest</h2>                      
                <p>If you believe your institution meets our requirements and you are interested in speaking with us, contact us here.</p>
                <p><a href="/lenders/eligibility/form.html" class="button secondary">click here <span class="show-for-sr">to complete the notification of interest form</span></a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   
</div>   
  <!-- Lender Eligibility Content -->
</div>
