h2,
h3,
h4,
h5,
h6 {
  > a {
    display: inline-block;
  }
  a:not(:hover):not(:focus) {
    text-decoration: none;
    color: currentColor;
  }
}
.background-sheer {
  transition: opacity 0.25s ease-in;
}
.background-sheer:hover,
.background-sheer:focus {
  opacity: 0.95;
  transition: opacity 0.25s ease-out;
}
// to do, move to nav scss later
html:not(.white) .main-nav .menu .active,
html:not(.white) .main-nav .menu :hover {
  color: map-get($colors, blue5);
}
header a,
footer a {  
  @include disable-mouse-outline;
}
[data-whatinput="touch"] header a:focus,
[data-whatinput="touch"] header button:focus,
[data-whatintent="mouse"] header a:focus, 
[data-whatintent="mouse"] header button:focus {
  outline: rgba(0, 0, 0, 0) auto 0px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.no-tap-hightlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // hides the color overlay on mobile tap -- automatically applied to links in nav
}

[class*="-blue"],
[class*="-green"],
[class*="-navy"],
[class*="-teal"],
[class*="-red"],
.blue,
.green,
.navy,
.teal {
  a {
    color: currentColor;
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
.accent-white {
  &:hover,
  &:focus {
    color: $white;
  }
}
.background-white {
  a:not([class]) {
    color: $anchor-color;
  }
}
.no-decoration {
  text-decoration: none;
  &:link,
  &:hover,
  &:active {
    text-decoration: none;
  }
}
footer a:not(:hover):not(:focus) {
  text-decoration: none;
}
.footer-top a {
  &:hover,
  &:focus {
    color: $anchor-color-hover;
  }
}
a {
  .card,  
  .background-concrete {
    color: $body-font-color;    
  }
  &:hover,
  &:focus {
    h2, h3, h4, h5 {
      color: $anchor-color-hover;
    }
    [class^="background-"]:not([class*="-concrete"]):not([class*="-white"]) {
      h2, h3, h4, h5 {
        color: inherit;
      }
    }
  }
  sup {
    display: inline-block;
  }
  // the below can probably go away after perspectives phase 2
  &.overlay {
    color: white;
    &:hover,
    &:focus {
      h2, h3, h4, h5 {
        color: inherit;
      }
    }
  }
}
.video-modal {
  position: relative;
  display: inline-block;
}
.video-length {
  display: none;  
  .overlay & {
    transition: background 0.25s ease;
  }
}
a .play-button, a.play-button {
  position: absolute;
  bottom: 1.75rem;
  right: 1.75rem;
  font-size: rem-calc(16px);
  letter-spacing: rem-calc(1px);
  color: $white;
  font-weight: $global-weight-medium;
  text-transform: uppercase;
  &::after {
    content: "▶";
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1rem;
    height: 3rem;
    width: 3rem;
    margin-left: 0.75rem;
    padding: 1rem;
    border-radius: 50%;
    background: $white;
    color: map-get($colors, navy5);
    transition: all 0.5s ease;
  }
  &:not(:hover) {
    text-decoration: none;
  }
  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }
}
.marker-buttonize {
  display: block;
  margin: 0.3125em 0.625em 0.3125em 0;
  padding-left: 0.625em;
  background: $white;
  color: $dark-gray;
  &:hover,
  &:focus,
  &:active {
    color: $dark-gray;
    background-color: rgba($white, 0.8);
    transition: background-color 0.25s ease-out;
  }
  .icon-deal-marker {
    margin-bottom: 0;
  }
}

@media screen {
  .modal-launch,
  .overlay {
    display: inline-block;
    background: $black;
    color: $white;
    &.mask::after {
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      left: 0;
      content: "";
      background-color: rgba($black, 0.04);
    }
    img {
      opacity: 1;
      transition: opacity 0.2s ease;
      width: 100%;
    }
    &:hover,
    &:focus,
    .card:hover & {
      color: $white;
      background: $black;
      img {
        opacity: 0.7;
      }
      &.mask::after {
        background-color: transparent;
      }
    }
  }

  .modal-launch {
    position: relative;
    &:hover {
      &::after {
        background: transparent url("/images/zoom_in_icon.svg") no-repeat center center;
        width: rem-calc(50);
        height: rem-calc(50);
      }
    }
    &::after {
      position: absolute;
      font-size: 2.5rem;
      top: calc(50% - 25px);
      left: calc(50% - 25px);
      content: " ";
      z-index: 300;
    }
  }
}
.overlay-contents {
  color: $white;
  padding: $gutter;
  @include breakpoint(small only) {
    background: map-get($colors, navy3);
  }
  @media screen and #{breakpoint(medium)} {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 120;
  }
  @include breakpoint(large) {
    padding: $gutter $gutter * 1.5;
  }
  @include breakpoint(xxlarge) {
    padding: $gutter * 1.5 $gutter * 1.5 $gutter * 1.5 $gutter * 2;
  }
}
.overlay {
  position: relative;
  &.overlay-dark {
    @media screen and #{breakpoint(medium)} {
      img {
        z-index: 100;
      }
      &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        z-index: 105;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.75) 100%);
        transition: background-image 0.3s ease 0s;
      }
      &:hover,
      &:focus {
        &::after {
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
        }
      }
    }
  }

  &.overlay-gradient {
    text-decoration: none;
    .overlay-contents {
      @media screen and #{breakpoint(medium)} {
        top: 0;
        padding-right: 33%;
      }
      @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 60px)) {
        padding-right: 40%;
      }
      @media screen and (min-width: -zf-bp-to-em(map-get($breakpoints, medium) + 300px)) {
        padding-right: 45%;
      }
      @include breakpoint(large) {
        padding-right: 38%;
      }
      @include breakpoint(xlarge only) {
        padding-right: 33%;
      }
    }
    @media screen and #{breakpoint(medium)} {
      &::after {
        content: " ";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(to right, rgba($dark-gray, 1) 0%, rgba($dark-gray, 0.6) 50%, rgba($dark-gray, 0.3) 100%);
        transition: background-image 0.3s ease 0s;
      }
      &:hover,
      &:focus {
        &::after {
          background: linear-gradient(to right, rgba(mix($dark-gray, $primary-color, 40%), 0.8) 0%, rgba(mix($dark-gray, $primary-color, 30%), 0.4) 50%, rgba(mix($dark-gray, $primary-color, 20%), 0.1) 100%);
        }
      }
    }
  }
}
@media print {
  .overlay-gradient > img {
    padding-right: 50%;
  }
  .video-length {
    display: none;
  }
  @if $print-hrefs {
    a[href] {
      text-decoration-color: #ccc;
    }
    a[href]::after {
      font-size: 11pt;
      font-weight: 400;
      text-transform: none;
      content: " (" attr(href) ")";
    }
    a[href^="/"]::after {
      content: " (http://www.freddiemac.com" attr(href) ")";
    }
    // Don't show urls for jump links or links
    // that use the `javascript:` protocol
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  }
}

.animated-arrow {
  * {
    fill: $anchor-color;
    transition: all 0.2s ease-in-out;
  }
  a:hover & {
    .arrowline {
      transform: scale(1.44, 1);
    }
    .arrowhead {
      transform: translateX(28.8%);
    }
  }
}
.animated-triangle-arrow {
  .triangle-arrowline {
    transform: scale(0, 1);
    transform-origin: 75% 50%;
    transition: all 0.2s ease-in-out;
  }
  a:hover & {
    .triangle-arrowline {
      transform: scale(1, 1);
    }
  }
}

.arrow-text,
.arrow-text-white {
  color: map-get($colors, blue5);
  text-transform: uppercase;
  font-size: rem-calc(13);
  letter-spacing: rem-calc(0.5);
  line-height: 0.4rem;
  font-weight: $global-weight-medium;
  &.left-align {
    position: relative;
    right: calc(100% - 2.6rem);
    transition: right 0.25s ease;
    // override to fix visible arrow in media room subnav card not hovered
    .sub-nav a:not(:hover) .small-to-large.position-relative & {
      @include breakpoint(xlarge only) {
        right: 100%;
      }      
    }
    span {
      color: transparent;
      &::after {
        width: rem-calc(36);
      }
    }
  }
  span {
    color: transparent;
    transition: color 0.2s ease;
    &::after {
      content: "";
      position: relative;
      display: inline-block;
      transform: translateY(rem-calc(-4px));
      width: rem-calc(26);
      height: rem-calc(2px);
      padding-left: 0;
      background: map-get($colors, blue5);
      transition: all 0.25s ease;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    transform: translateY(0.1rem);
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
    border-left: 0.4rem solid currentColor;
  }
}
a:hover .arrow-text {
  &.left-align {
    right: 0;
    span {
      color: map-get($colors, blue5);
    }
  }
  span {
    color: map-get($colors, blue5);
    &::after {
      width: rem-calc(36);
      margin-left: rem-calc(5);
    }
  }
}

.arrow-text-white {
  color: $white;
  span::after {
    background: $white;
  }
}
a:hover .arrow-text-white {
  span {
    color: $white;
    &::after {
      width: rem-calc(36);
      margin-left: rem-calc(5);
    }
  }
}

.animated-download {
  display: inline-block;
  position: relative;
  border: rem-calc(2) solid map-get($colors, blue5);
  border-top: 0;
  height: rem-calc(18);
  width: rem-calc(38);
  span {
    position: absolute;
    display: inline-block;
    left: calc(50% - #{rem-calc(.5)});
    top: 0;
    width: rem-calc(2);
    height: rem-calc(14);
    background: map-get($colors, blue5);
    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      left: 50%;
      bottom: 0;
      width: 0;
      height: 0;
      transform: translateX(-50%);
      border-style: solid;
      border-width: rem-calc(5px 6px 0 6px);
      border-top: 0.4rem solid map-get($colors, blue5);
      border-right: 0.4rem solid transparent;
      border-left: 0.4rem solid transparent;
    }
  }
}
a:hover .animated-download span{
  animation: bounce .75s forwards;
}
@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  30%{
    transform: translateY(-45%);
  }
  100%{
    transform: translateY(0);
  }
}
