.flow-column-large {
  @include breakpoint(large) {
    column-count: 2;
    column-gap: rem-calc(60);
    > :last-child {
      margin-bottom: 0;
    }
  }
}

.feature-block {
  min-height: auto;
  position: relative;
  padding-bottom: $gutter;
  line-height: 1.3;
  .xlarge-up-2 & {
    @include breakpoint(large only) {
      max-width: rem-calc(800);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.recent-headlines-container {
  min-height: 10rem;
  h4 {
    font-weight: $global-weight-medium;
    margin: 0.2em 0;
  }
}

.placeholder {
  margin: 2.5rem auto 3.5rem;
}

ul.pagination {
  margin-top: rem-calc(50px);
  @include flex;
  justify-content: center;
  li.current {
    padding: 0;
    a {
      color: map-get($colors, blue5);
    }
  }
  li {
    padding: 0;
    a {
      font-weight: $global-weight-medium;
      color: $dark-gray;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        text-decoration: none;
        color: map-get($colors, blue5);
        background-color: transparent;
      }
    }
    &:hover a,
    &.current a {
      border-bottom: 2px solid map-get($colors, blue5);
    }
  }
  .pagination-previous,
  .pagination-next {
    span::after {
      content: "	\25B8";
      display: inline-block;
      font-size: rem-calc(25px);
      line-height: 1.5rem;
      color: map-get($colors, blue5);
    }
    &:hover {
      border-color: transparent;
    }
    &.disabled span::after{
      color: $dark-gray;
    }
  }
  .pagination-previous span::after{
      transform: rotate(180deg);
    }
  .disabled {
    padding: .6rem .75rem;
    color: $dark-gray;
    &:hover {
      border-color: transparent;
    }
  }
}
