
.button-row{
  background: (linear-gradient(to right, $white 6%, $light-gray 12%));
  margin-bottom: rem-calc(20px);
  @include breakpoint(large){
    background: (linear-gradient(to right, $white 10%, $light-gray 12%));
  }
  @include breakpoint(xxlarge){
    margin-bottom: rem-calc(25);
  }
  &-creative{
    width: rem-calc(100);
    @include breakpoint(large){
      width: rem-calc(130);      
    }
    img{
      border-radius: 50%;
      width: 100%;
    }
  }
}
.button-row-content{
  line-height: 1;
  padding: rem-calc(5 0 5 8);
  @media screen and (min-width: -zf-bp-to-em(414px)) { // above small phone custom size
    padding-left: rem-calc(15);
  }
  @include breakpoint(medium){
    min-width: rem-calc(136);
  }
  @include breakpoint(large){
    font-size: rem-calc(18);
    line-height: 1.3;
  }
  :last-child{
    margin-bottom:0; 
  }
}
.button-row-arrow{
  padding-right:rem-calc(15px);
  @include breakpoint(medium){
    padding-right:rem-calc(22px);
  } 
}