.pre-footer-promo {
  margin: 0;
  padding-top: $gutter;
  padding-bottom: 1rem;
  @include breakpoint (large) {
    padding-bottom: $global-padding * 2;
    padding-top: $global-padding * 2;
  }
  position: relative;
  figure {
    @include breakpoint(small only){
      max-width: 70%;
    }
    @include breakpoint(medium){
      padding-bottom: $gutter;
      padding-right: $gutter;
    }
  }
}
.footer-promo {  
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin: 0;
  position: relative;   
  background: $fm-blue; 
  color: $white;
  @include fluid-type(16px, 22px, xlarge);
  @include breakpoint(large) {
    padding-top: rem-calc(70);
    padding-bottom: rem-calc(70);
  } 
  &[class^="background"] {
    background: $primary-color; 
    color: $white;
    .button.hollow {
      background-color: map-get($colors, navy4);
    }
    .button.hollow:hover, 
    .button.hollow:focus {
      background-color: map-get($colors, navy1); 
    }
  }
  p {
    font-weight: $global-weight-light;
    margin: 1.5rem 0;
    @include breakpoint(large) {   
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  > .column {
    position: relative;
  }
}
.footer-promo-cta { 
  width: 100%;      
  @media screen and #{breakpoint(large)} {              
    @include vertical-center;
    right: 0;
    text-align: right;
    position: relative;
  }
}
@media print {
  .footer-promo .column { 
    width: 100%;
  }
}