.panel {
  // background colors are all in backgrounds.scss
  &.offset-feature-panel {
    padding: 4rem 0;
    margin-bottom: 0;
    .cell {
      padding: rem-calc(0 30);
    }
    @include breakpoint(medium down) {
      .large-6:first-of-type img {
        margin-bottom: 2em;
      }
      &.right-image .large-6:last-of-type img {
        margin-bottom: 2em;
      }
    }
    @include breakpoint(large){
      overflow: visible;
      .large-6 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
   
    &:not(.right-image) {
      @include breakpoint(large) {
        margin-left: rem-calc(60);
        .grid-x { 
          margin-left: rem-calc(-60);
          padding-right: rem-calc(60);
          .large-6:first-of-type {
            padding: 0;
          } 
          .large-6:last-of-type {
            padding: rem-calc(0 30 0 80);
          } 
        }
      }
      @include breakpoint(xlarge){
        .grid-x {
          .large-6:last-of-type {
            padding: rem-calc(0 50 0 110);
          } 
        }
      }
    }
    &.right-image {
      @include breakpoint(large) {
        margin-right: rem-calc(60);
        .grid-x { 
          margin-right: rem-calc(-60);
          padding-left: rem-calc(60);
          .large-6:last-of-type {
            padding: 0;
          } 
          .large-6:first-of-type {
            padding: rem-calc(0 80 0 30);
          } 
        }
      }
      @include breakpoint(xlarge){
        .grid-x {
          .large-6:first-of-type {
            padding: rem-calc(0 110 0 50);
          } 
        }
      }
    }
  }
  &.offset-video-panel {
    @include clearfix;  
    @include breakpoint(xlarge){
      margin-left: rem-calc(map-get($grid-container-padding, xlarge)/2);
    }
    @include breakpoint(xxlarge){
      margin-left: 0;
    }
    .cell:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem;
      @include breakpoint(xlarge) {
        padding: 5rem 7rem;
      }   
    }
    // .cell:last-of-type {
    //   position: relative;
    //   padding: 0;
    // }
    .background {
      position: relative;
      width: 100%;
      padding-top: 81%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &.offset-text-image-panel {
    position: relative; 
    @include breakpoint(large){
      margin-bottom: rem-calc(map-get($grid-container-padding, large)/2);
      margin-left: rem-calc(map-get($grid-container-padding, large)/2);
    }  
    @include breakpoint(xlarge){
      margin-left: rem-calc(map-get($grid-container-padding, xlarge)/2);
      margin-bottom: rem-calc(map-get($grid-container-padding, xlarge)/2);
    } 
    @include breakpoint(xxlarge) {
      margin-left: rem-calc(map-get($grid-container-padding, xxlarge)/2);
    }
    .grid-x {
      @include breakpoint(large){
        overflow: visible;
      } 
    }
    .cell:first-child {
      @include breakpoint(large) {
        position: absolute;
        left: rem-calc(- map-get($grid-container-padding, large)/2);
        bottom: rem-calc(- map-get($grid-container-padding, large)/2);
        width: 50%;
        z-index: 2;
        @include clearfix;
        > .callout.large {
          padding-left: rem-calc(map-get($grid-container-padding, large)/2);
        }
      }
      @include breakpoint(xlarge) {
        width: 47.5%;
        left: rem-calc(- map-get($grid-container-padding, xlarge)/2);
        bottom: rem-calc(- map-get($grid-container-padding, xlarge)/2);
        > .callout.large {
          padding-left: rem-calc(map-get($grid-container-padding, xlarge)/2);
        }
      }
      @include breakpoint(xxlarge) {
        width: 45%;
        left: rem-calc(- map-get($grid-container-padding, xxlarge)/2);
        > .callout.large {
          padding-left: rem-calc(map-get($grid-container-padding, xxlarge)/2);
        }
      }
    }
    .poster {
      position: relative;
      min-width: 100%;
      @include breakpoint(large){
        margin-right: rem-calc(- map-get($grid-container-padding, large)/2);
      }
      @include breakpoint(xlarge) {
        margin-right: rem-calc(- map-get($grid-container-padding, xlarge)/2);
      }
      @include breakpoint(xxlarge) {
        margin-right: rem-calc(- map-get($grid-container-padding, xxlarge)/2);
      }
      img {
        width: 100%;
      }
    }
    .play-button {
      @include breakpoint(large){
        bottom: 4rem;
        right: 4rem;
      }
    }
  }
}
