.sidebar {
  position: relative;  
  ul, 
  ol {
    margin-bottom: 0;
  }
  > .row > .column > *:first-child {
    margin-top: 0;
  }
  blockquote {
    border-left-width: 0;
    margin-bottom: 0;
    padding: rem-calc(8 0 8 0);
    figcaption & {
      padding: 0;
    } 
  }
  .card {
    border-bottom-width: 0px;
  }
  .large-up-1 {
    div:last-child > .card {
      @include breakpoint(large) {
        margin-bottom: 0;
      }
    }
  }
}
.sidebar-txt {
  max-width: 83%;
	@include breakpoint(large only) {
    max-width: rem-calc(277);
  }  
  :first-child {
    margin-top: 0;
  }
}

.sidebar-feature {    
  .feature-background {   // background will be different for each one, so moving to inline
    background: transparent;
  }
  .row {
    position: relative;
  }
}

.twitter-feed {
  overflow-y: scroll;
  height: 44rem;
  background: $white;
  border: 1px solid darken($light-gray, 5%);
}
