/// @param {Number} $n - Number of elements to display per row.
@mixin block-tabs($n) {
  display: flex;
  flex-flow: row wrap;    
  li {
    display: 0 0 auto;
    width: percentage(1/$n);
    @if ($n > 1) { text-align: center;}
  } 
}
.tabs {
  position: relative;
  background: none;
  // Custom options for block tabs
  @for $i from 1 through $tab-expand-max {
    &.small-up-#{$i} {
      @include block-tabs($i);
    } 
    &.medium-up-#{$i} {
      @include breakpoint(medium) {
        @include block-tabs($i);
      }  
    }
    &.large-up-#{$i} {
      @include breakpoint(large) {
        @include block-tabs($i);
      }  
    }
  }
}
.tabs-title {
  margin: 0;
  @include fluid-type(16px, 18px, medium);
  font-weight: $global-weight-medium;
  background: $tab-background;
  border-bottom: 2px solid $white;
  > a { 
    text-decoration: none;
    border-top: 2px solid $tab-background;
    &:focus,
    &:hover  {
      color: $tab-color;
      border-color: currentColor;
    }
  }
  &.is-active > a {
    color: $tab-active-color;
    border-color: currentColor;
  }
  + .tabs-title {
    border-left: 2px solid $white;
  }
}

// styles to support tabs that appear like pagination
.tabs-pagination {
  .tabs {
    margin: rem-calc(10 0 0);
    background: none;
    .tabs-title {
      margin: 0.5rem 0.5rem 0 0;
      border: 0;
      text-align: center;
      line-height: 1;
      background: none;
      &:hover,
      &:focus {
        background: none;
      }
      a {
        font-size: rem-calc(20); 
        padding: rem-calc(3 4 2);
        position: relative;        
        display:block;
        width:rem-calc(22);
        height:rem-calc(32);
        border-width: 0;
        // border-radius: 50%;
        // background: $white;
        text-align:center;
        text-decoration:none;
        &:focus {
          @include disable-mouse-outline;
        }
      }
      &.is-active a {
        color: $anchor-color;
        // background: $anchor-color;
        border-bottom: 2px solid $anchor-color;
        &:hover {
          color: $anchor-color-hover;
          // background: $anchor-color-hover;
        }
      }
    }  
  }
  .tabs-panel{
    .rel-content{
      color: $dark-gray;
      padding-top: rem-calc(20);
      padding-bottom: rem-calc(20);
      font-size: rem-calc(20);
      .content-label{
        margin: 0 0 .45em;
      }
    }
    a{
      text-decoration: none;
      &:hover .announcement{
        text-decoration: none;
      }
      &:hover .content-label{
        text-decoration: underline;
        color: $anchor-color;
      }
    }
    span.icon-file{
      display: none;
    }
  }
}