
.uppercase { 
  text-transform: uppercase;
}
.lowercase { 
  text-transform: lowercase;
}
.small-no-transform { 
  @include breakpoint(small only) {
    text-transform: none;
  }
}
.smallcaps {
  font-variant: small-caps;
}
.reduce {
  font-size: 0.875em;
  line-height: 1.25;
}
.large-reduce {
  line-height: 1.25;
  @include breakpoint(large) {
    font-size: 0.875em;
  }
}
.xlarge-reduce {
  line-height: 1.25;
  @include breakpoint(xlarge) {
    font-size: 0.875em;
  }
}
.enlarge {
  font-size: 1.125em;
}
.initial-color {
  color: $body-font-color;
}
strong, b {
  font-weight: bold;  
  @if variable-exists(global-weight-medium) {
    font-weight: $global-weight-medium; 
  }
}

.accent {
  @if variable-exists(orbit-palette) {  
    @each $name, $color in $orbit-palette {      
      &-#{$name} {  
        color: $color; 
      } 
    }
  }
}
// depending on font stack, we have regular or normal - making sure both classes work
.weight-light {
  @if variable-exists(global-weight-light) {
    font-weight: $global-weight-light !important;
  }
}
.weight-normal {
  @if variable-exists(global-weight-normal) {
    font-weight: $global-weight-normal !important;
  }
  @else {
    @if variable-exists(global-weight-regular) {
      font-weight: $global-weight-regular;
    }
  }
}
.weight-regular {
  @if variable-exists(global-weight-regular) {
    font-weight: $global-weight-regular !important;
  }
  @else {
    @if variable-exists(global-weight-normal) {
      font-weight: $global-weight-normal;
    }
  }
}

.weight-medium {  
  @if variable-exists(global-weight-medium) {
    font-weight: $global-weight-medium !important; 
  }
}
.weight-bold {
  font-weight: bold;
  font-weight: $global-weight-bold !important;
  @if variable-exists(global-weight-black) {
    strong {
      font-weight: $global-weight-black;
    }
  }
}
.weight-black {
  @if variable-exists(global-weight-bold) {
      font-weight: $global-weight-bold;
  }
  @if variable-exists(global-weight-black) {
    font-weight: $global-weight-black;
  }
  strong {
    font-weight: inherit;
  }
}


p:not([class]) + h2,
figure:not([class]) + h2 {
  margin-top: 0.75em;
}
p:not([class]) + h3 {
  margin-top: 1em;
}

@media print {
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
//93.75em is xxlarge
html {
  @media screen and (min-width: 112.51em) {
    font-size: 112/93.75 * 100%;
  } 
  @media screen and (min-width: 120.01em) {
    font-size: 120/93.75 * 100%;
  } 
  @media screen and (min-width: 137.51em) {
    font-size: 137/93.75 * 100%;
  } 
  @media screen and (min-width: 150em) {
    font-size: 150/93.75 * 100%;
  }  
  @media screen and (min-width: 187.5em) {
    font-size: 187/93.75 * 100%;
  }  
  @media screen and (min-width: 210em) {
    font-size: 210/93.75 * 100%;
  }   
}