<!-- Start: About Sub Menu -->
<div id="about-sub-nav" class="grid-container fluid sub-nav dropdown-pane show-for-xlarge" data-hover="true" data-hover-pane="true" data-dropdown="" aria-labelledby="section-about">
  <div class="grid-x">
    <div class="cell">        
      <div class="menu-close">
        <button type="button" class="close-button" data-close="" aria-label="Close navigation">
          <svg aria-hidden="true" viewbox="0 0 21 21" style="width:1.3125rem;height:1.3125rem;" xmlns="http://www.w3.org/2000/svg"><g fill="#25457C" fill-rule="evenodd"><path d="M2.504.6l17.99 17.82-1.998 1.98L.506 2.58z"/><path d="M18.496.6L.506 18.42l1.998 1.98 17.99-17.82z"/></g></svg>
        </button>
      </div>      
      <div class="grid-container dropdown-content">
        <div class="grid-x grid-margin-x" data-equalize="" data-equalize-on="xlarge">
          <div class="cell large-6">
            <div class="menu-indent">
              <div class="grid-x grid-margin-x">
                <div class="cell large-6">
                  <ul class="menu vertical">
                    <li class="weight-medium"><span class="match-menu-anchor inline-block">About Us</span></li>
                    <li><a href="/about/">Overview</a></li>
                    <li><a href="https://mf.freddiemac.com/about/who-we-are.html">Who We Are</a></li>
                    <li><a href="https://mf.freddiemac.com/about/what-we-do.html">What We Do</a></li>
                    <li><a href="https://mf.freddiemac.com/about/brand-usage.html">Our Brand</a></li>
                    <li><a href="https://careers.freddiemac.com/" class="offsite">Careers</a></li>
                  </ul>
                </div>
                <div class="cell large-6">
                  <ul class="menu vertical">
                    <li class="weight-medium"><span class="match-menu-anchor inline-block">Our Work</span></li>
                    <li><a href="https://mf.freddiemac.com/about/our-results.html">Our Results</a></li>
                    <li><a href="https://mf.freddiemac.com/about/our-mission.html">Our Mission</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="cell large-3">
            <a class="no-decoration" href="https://mf.freddiemac.com/COVID-19/">
              <div class="card" data-equalizer-watch="">
                <div class="card-image half-margin-bottom">
                  <img aria-hidden="true" src="https://freddiemac.widen.net/content/syroszsnko/png/CC_FM_15776_nav-about-covid.jpg" alt="">
                </div>
                <h3 class="header-card-text weight-medium no-margin">Our COVID-19 Response</h3>
                <p class="flex-child-grow">We are taking action to protect our employees, customers, homeowners and renters.</p>
                <p class="position-relative">
                  <span aria-hidden="true" class="arrow-text left-align"><span>Read More</span></span>
                </p>         
              </div>
            </a>
          </div>
          <div class="cell large-3">
            <a class="no-decoration" href="https://mf.freddiemac.com/about/diversity-and-equity">
              <div class="card" data-equalizer-watch="">
                <div class="card-image half-margin-bottom">
                  <img aria-hidden="true" src="https://freddiemac.widen.net/content/jxeqhnla3z/png/CC_FM_15776_nav-about-50years.jpg" alt="">
                </div>
                <h3 class="header-card-text weight-medium no-margin">Diversity and Equity</h3>
                <p class="flex-child-grow">See our impact in your state over the last five decades.</p>
                <p class="position-relative">
                  <span aria-hidden="true" class="arrow-text left-align"><span>Read More</span></span>
                </p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


