<div class="sub-nav" id="borrower-sub-nav">
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi amet itaque, molestias quo laboriosam, sed harum quibusdam magni molestiae quis, repudiandae quisquam delectus soluta laudantium aliquam totam suscipit veritatis maiores!</p>
  
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi amet itaque, molestias quo laboriosam, sed harum quibusdam magni molestiae quis, repudiandae quisquam delectus soluta laudantium aliquam totam suscipit veritatis maiores!</p>
  
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi amet itaque, molestias quo laboriosam, sed harum quibusdam magni molestiae quis, repudiandae quisquam delectus soluta laudantium aliquam totam suscipit veritatis maiores!</p>
</div>