<!-- Start: Products Sub Menu -->
<div id="products-sub-nav" class="grid-container fluid sub-nav dropdown-pane show-for-xlarge" data-hover="true" data-hover-pane="true" data-dropdown="" aria-labelledby="section-borrowers">
  <div class="grid-x">
    <div class="cell">        
      <div class="menu-close">
        <button type="button" class="close-button" data-close="" aria-label="Close navigation">
          <svg aria-hidden="true" viewbox="0 0 21 21" style="width:1.3125rem;height:1.3125rem;" xmlns="http://www.w3.org/2000/svg"><g fill="#25457C" fill-rule="evenodd"><path d="M2.504.6l17.99 17.82-1.998 1.98L.506 2.58z"/><path d="M18.496.6L.506 18.42l1.998 1.98 17.99-17.82z"/></g></svg>
        </button>
      </div>      
      <div class="grid-container dropdown-content">
        <div class="grid-x grid-margin-x" data-equalize="" data-equalize-on="xlarge">
          <div class="cell large-6">
            <div class="menu-indent">
              <div class="grid-x grid-margin-x">
                <div class="cell">
                  <ul class="menu vertical">
                    <li class="weight-medium"><span class="match-menu-anchor inline-block">Products</span></li>
                    <li><a href="/product/">Overview</a></li>
                    <li role="list-item"><a id="subnav-products-conventional" href="/product/conventional.html">Conventional</a></li>
                    <li><a href="/product/sbl.html">Small Balance Loan</a></li>
                    <li><a href="/product/tah.html">Targeted Affordable Housing</a></li>
                    <li><a id="subnav-products-seniors" href="/product/seniors.html">Seniors Housing</a></li>
                    <li><a href="/product/lock-options.html">Lock Options</a></li>
                    <li><a href="/product/green-advantage.html">Green Advantage</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="cell large-3">
            <a class="no-decoration" href="https://mf.freddiemac.com/COVID-19/">
              <div class="card" data-equalizer-watch="">
                <div class="card-image half-margin-bottom">
                  <img aria-hidden="true" src="https://freddiemac.widen.net/content/syroszsnko/png/CC_FM_15776_nav-about-covid.jpg" alt="">
                </div>
                <h3 class="header-card-text weight-medium no-margin">Our COVID-19 Response</h3>
                <p class="flex-child-grow">We are taking action to protect our employees, customers, homeowners and renters.</p>
                <p class="position-relative">
                  <span aria-hidden="true" class="arrow-text left-align"><span>Read More</span></span>
                </p>         
              </div>
            </a>
          </div>
          <div class="cell large-3">
            <a class="no-decoration" href="https://mf.freddiemac.com/viewpoints/steve_guggenmos/2021/multifamily-2021-outlook.html">
              <div class="card" data-equalizer-watch="">
                <div class="card-image half-margin-bottom">
                  <img aria-hidden="true" src="https://freddiemac.widen.net/content/jxeqhnla3z/png/CC_FM_15776_nav-about-50years.jpg" alt="">
                </div>
                <h3 class="header-card-text weight-medium no-margin">Multifamily 2021 Outlook</h3>
                <p class="flex-child-grow">Despite the disruptions of 2020, we expect the multifamily market to see improving conditions in 2021.</p>
                <p class="position-relative">
                  <span aria-hidden="true" class="arrow-text left-align"><span>Read More</span></span>
                </p>
              </div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>