<section class="base background-concrete">
  <div class="base-inner">
    <div class="row">
      <div class="column">
        <div class="base-inner-header">
          <h2 class="text-flex-40-68">Top Lenders <br class="show-for-large">by Category</h2>
        </div>
      </div>
    </div>
    <div class="row large-up-2" data-equalizer data-equalizer-on="small">
    
      <div class="column no-padding">
        <div class="callout" data-equalizer-watch>
          <div class="media-object stack-for-small">
            <!---->
            <div class="media-object-section">
              {{> conv }}
            </div>
            <div class="media-object-section main-section align-self-top">
              <h2 class="text-flex-24-32">Conventional</h2>
              <ol>
                <li>CBRE</li>
                <li>Berkadia</li>
                <li>Walker & Dunlop</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    
      <div class="column no-padding">
        <div class="callout" data-equalizer-watch>
          <div class="media-object stack-for-small">
            <!---->
            <div class="media-object-section">
              {{> tah }}
            </div>
            <div class="media-object-section main-section align-self-top">
              <h2 class="text-flex-24-32">Targeted Affordable Housing</h2>
              <ol>
                <li>JLL</li>
                <li>CBRE</li>
                <li>Wells Fargo</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    
      <div class="column no-padding">
        <div class="callout" data-equalizer-watch>
          <div class="media-object stack-for-small">
            <!---->
            <div class="media-object-section">
              {{> sbl }}
            </div>
            <div class="media-object-section main-section align-self-top">
              <h2 class="text-flex-24-32">Small Balance Loans</h2>
              <ol>
                <li>CBRE</li>
                <li>Sabal</li>
                <li>Greystone</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    
      <div class="column no-padding">
        <div class="callout" data-equalizer-watch>
          <div class="media-object stack-for-small">
            <!---->
            <div class="media-object-section">
              {{> seniors }}
            </div>
            <div class="media-object-section main-section align-self-top">
              <h2 class="text-flex-24-32">Seniors Housing</h2>
              <ol>
                <li>Capital One</li>
                <li>Wells Fargo</li>
                <li>KeyBank</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>  
</section>
