<section class="base background-white">
  <div class="base-inner">
    <div class="row">
      <div class="column">
        <div class="base-inner-header">
          <h2 class="text-flex-40-68">Recognizing Our Exceptional Lenders<span class="weight-normal">2020 Top Optigo® Lenders by Volume</span></h2>
        </div>
        <div class="row ca-lender-logos small-up-2 large-up-5 vertical-center-equalizers" data-equalizer data-equalizer-on="small">
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">1<span>$13.2 billion</span></div>
              <img class="no-border" src="images/1-cbre.png" alt="CBRE">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">2<span>$11.3 billion</span></div>
              <img class="no-border" src="images/2-berkadia.png" alt="berkadia">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">3<span>$9.2 billion</span></div>
              <img src="images/3-jll.png" alt="JLL" class="no-border">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">4<span>$8.2 billion</span></div>
              <img src="images/4-walkerdunlop.png" alt="Walker and Dunlop" class="no-border">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">5<span>$6.2 billion</span></div>
              <img src="images/5-newmark.png" alt="Newmark" class="no-border">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">6<span>$5.7 billion</span></div>
              <img src="images/6-captialone.png" alt="Capitalone" class="no-border">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">7<span>$3.8 billion</span></div>
              <img src="images/7-keybank.png" alt="Key Bank" class="no-border">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">8<span>$3.6 billion</span></div>
              <img src="images/8-wellsfargo.png" alt="Wells Fargo" class="no-border">
            </div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">9<span>$3.5 billion</span></div>
              <img src="images/9-greystone.png" alt="Greystone" class="no-border"></div>
          </div>
          <div class="column">
            <div class="callout" data-equalizer-watch>
              <div class="rank">10<span>$3.0 billion</span></div>
              <img src="images/10-northmarq.png" alt="North Marq" class="no-border">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>