<div class="base background-white clearfix">
  <div class="base-inner">
    <div class="row">  
      <div class="column"><!-- large-9 large-centered -->
        <div class="base-inner-header">
          <h2 class="text-flex-40-68">In Our Own Words</h2>
        </div>
        <div data-next-class="ca-orbit-next" data-prev-class="ca-orbit-prev" class="orbit ease orbit-controls-outside" role="region" aria-label="Quotes" data-orbit data-auto-play="true" data-timer-delay="8000" data-automate-nav="false">
          <div class="position-relative">
            <ul class="orbit-container">
              <li class="orbit-slide"> 
                <div class="callout">
                  <div class="row">
                    <div class="column large-4 text-center large-text-left">
                      <p><img class="no-border" alt="Rich Martinez" src="images/richard_martinez.png"></p>
                    </div>
                    <div class="column large-7 large-offset-1">
                      <p class="grid-block-text-medium accent-dark-gray weight-normal"><em>&ldquo;Congratulations to CBRE for once again being our top overall Optigo® lender. We strongly value their partnership with Freddie Mac &mdash; and I look forward to continued success <span class="no-wrap">in 2021.&rdquo;</span></em></p>
                      <p class="weight-medium"><span class="weight-bold text-static-24-28">Rich Martinez</span><br />SVP, Production &amp; Sales</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div class="callout">
                  <div class="row">
                    <div class="column large-4 text-center large-text-left">
                      <p><img class="no-border" alt="Kelli Carhart" src="images/kelli_carhart.png"></p>
                    </div>
                    <div class="column large-7 large-offset-1">
                      <p class="grid-block-text-medium accent-dark-gray weight-normal"><em>&ldquo;CBRE reclaimed the conventional leaderboard in 2020! The CBRE team had sizeable contributions in every region that couldn't be achieved without a relationship that spans decades. CBRE's remarkable results are a testament to our partnership and we are honored to work alongside their <span class="no-wrap">incredible teams.&rdquo;</span></em></p>
                      <p class="weight-medium"><span class="weight-bold text-static-24-28">Kelli Carhart</span><br />VP, Production &amp; Sales</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div class="callout">
                  <div class="row">
                    <div class="column large-4 text-center large-text-left">
                      <p><img class="no-border" alt="Steve Johnson" src="images/steve_johnson.png"></p>
                    </div>
                    <div class="column large-7 large-offset-1">
                      <p class="grid-block-text-medium accent-dark-gray weight-normal"><em>&ldquo;In a year unlike any other, JLL stands alone as Multifamily's #1 Targeted Affordable Housing lender. They delivered exceptional results and were instrumental to TAH's record affordable production in 2020.  Most importantly, JLL's results leave no doubt of their commitment to protect and expand the critical supply of affordable <span class="no-wrap">housing nationwide.&rdquo;</span></em></p>
                      <p class="weight-medium"><span class="weight-bold text-static-24-28">Steve Johnson</span><br />VP,, Small Balance Loan and Targeted Affordable Sales &amp; Investments</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div class="callout">
                  <div class="row">
                    <div class="column large-4 text-center large-text-left">
                      <p><img class="no-border" alt="Meg McElgunn" src="images/meg_McElgunn.png"></p>
                    </div>
                    <div class="column large-7 large-offset-1">
                      <p class="grid-block-text-medium accent-dark-gray weight-normal"><em>&ldquo;Our partnership with CBRE continues to stand the test of time. For the fourth year in a row, they are the top SBL lender. CBRE is integral to the success of the SBL program and our commitment of financing workforce housing across <span class="no-wrap">the nation.&rdquo;</span></em></p>
                      <p class="weight-medium"><span class="weight-bold text-static-24-28">Meg McElgunn</span><br />Senior Director, SBL Production &amp; Sales</p>
                    </div>
                  </div>
                </div>
              </li>
              <li class="orbit-slide">
                <div class="callout">
                  <div class="row">
                    <div class="column large-4 text-center large-text-left">
                      <p><img class="no-border" alt="Steve Schmidt" src="images/steve_schmidt.png"></p>
                    </div>
                    <div class="column large-7 large-offset-1">
                      <p class="grid-block-text-medium accent-dark-gray weight-normal"><em>&ldquo;Congratulations to Capital One on being our #1 Seniors Housing lender in 2020. We couldn't have done it without their incredible team and partners. Together, we supported essential financing for seniors housing across the nation and continue to navigate the impacts brought on by <span class="no-wrap">the pandemic.&rdquo;</span></em></p>
                      <p class="weight-medium"><span class="weight-bold text-static-24-28">Steve Schmidt</span><br />Senior Director of Seniors Housing, Production & Sales</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <div class="orbit-controls">
              <button type="button" class="ca-orbit-prev orbit-previous">
                <span class="show-for-sr">previous</span>
                <svg aria-hidden="true" viewbox="0 0 43 83" xmlns="http://www.w3.org/2000/svg"><path d="M42.366.488L1.354 41.5l41.012 41.012" stroke="#000" fill="none"/></svg>
              </button>
              <button type="button" class="ca-orbit-next orbit-next">
                <span class="show-for-sr">next</span>
                <svg aria-hidden="true" viewbox="0 0 43 83" xmlns="http://www.w3.org/2000/svg"><path d="M1.366.488L42.38 41.5 1.366 82.512" stroke="#000" fill="none"/></svg>
              </button>
            </div>
          </div>
              <nav class="orbit-bullets">
                <button type="button" data-slide="0"><span class="show-for-sr">Slide 1.</span></button>
                <button type="button" data-slide="1"><span class="show-for-sr">Slide 2.</span></button>
                <button type="button" data-slide="2"><span class="show-for-sr">Slide 3.</span></button>
                <button type="button" data-slide="3"><span class="show-for-sr">Slide 4.</span></button>
                <button type="button" data-slide="4"><span class="show-for-sr">Slide 5.</span></button>
              </nav>
           
        </div>
      </div>
    </div>
  </div>
</div>