<!-- Developed for Lender Eligibility landing page, currently not in use. -->
<div class="row-wrapper background-concrete le-content--resources">
  <div class="row medium-up-3 vertical-center-equalizers gutter-top" data-equalizer="eligibilityResources">
    <h1 class="text-center">Resources</h1>
    <div class="column">
      <div class="callout small-to-large background-white" data-equalizer-watch="eligibilityResources">
        {{>application}}
        <p class="accent-primary weight-normal no-margin gutter-top gutter-bottom">Application Road Map</p>      
      </div>
    </div>
    <div class="column">
      <div class="callout small-to-large background-white" data-equalizer-watch="eligibilityResources">
        {{>requirements}}
        <p class="accent-primary weight-normal no-margin gutter-top gutter-bottom">Eligibility Requirements</p>      
      </div>
    </div>
    <div class="column">
      <div class="callout small-to-large background-white" data-equalizer-watch="eligibilityResources">
        {{>overview}}
        <p class="accent-primary weight-normal no-margin gutter-top gutter-bottom">Sustainability Measures</p>      
      </div>
    </div>
  </div>
  <div class="row le-content--products">
    <div class="small-6 small-centered column">
      <p class="weight-medium text-center gutter-bottom gutter-top">Learn more about our <a href="/products/" class="offsite">products here</a>.</p>
    </div>
  </div>
</div> 