<!-- Developed for Lender Eligibility landing page, currently not in use. -->
<div class="orbit orbit-sf number-nav-vertical background-concrete" role="region" data-orbit  data-nav-buttons="false" data-automate-nav="false" data-auto-play="false" data-nav-parent-class="orbit-sf">
  <ul class="orbit-container">
    <li class="orbit-slide"> 
      <div class="media-object stack-for-small align-middle">
        <div class="media-object-section">
          <div class="graphic-container">
            <img class="full no-border horizontal" src="/images/1-compass-map.png" alt="ignore">
          </div>                    
        </div>
        <div class="media-object-section main-section">
          <h2>Understand the Process</h2>                      
            <p>Our road map provides a guide to the steps required to be considered to become an Optigo lender.</p>
            <p><a href="/docs/becoming_optigo_lender_roadmap.pdf" class="button secondary">click here <span class="show-for-sr">to view the road map</span></a></p>
        </div>                  
      </div>
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small align-middle">
        <div class="media-object-section">
          <div class="graphic-container">
            <img class="full no-border vertical" src="/images/3-information.png" alt="ignore">
          </div>
        </div>
        <div class="media-object-section main-section">
          <h2>Review Sustainability Measures</h2>                      
            <p>Get an overview of the sustainability measures addressed in the <span class="no-wrap">prescreen form.</span></p>
            <p><a href="/docs/prescreen_sustainability_measures.pdf" class="button secondary">click here <span class="show-for-sr">for the overview</span></a></p>
        </div>
      </div>      
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small align-middle">
        <div class="media-object-section">
          <div class="graphic-container">
            <img class="full no-border vertical" src="/images/2-eligibility.png" alt="ignore">
          </div>
        </div>
        <div class="media-object-section main-section">
          <h2>Determine Eligibility</h2>                      
          <p>Prospective Optigo lenders must meet our Eligibility requirements before they will be considered to become approved.</p>
          <p><a href="/docs/chapters/mf_guide_ch_3.pdf" class="button secondary">click here <span class="show-for-sr">to learn more about eligibility requirements</span></a></p>
        </div>
      </div>      
    </li>
    <li class="orbit-slide">
      <div class="media-object stack-for-small align-middle">
        <div class="media-object-section">
          <div class="graphic-container">
            <img class="full no-border horizontal" src="/images/4-submit-interest.png" alt="ignore">
          </div>
         </div>
        <div class="media-object-section main-section">
          <h2>Submit Interest</h2>                      
          <p>If you believe your institution meets our requirements and you are interested in speaking with us, contact us here.</p>
          <p><a href="/lenders/eligibility/form.html" class="button secondary">click here <span class="show-for-sr">to complete the notification of interest form</span></a></p>
        </div>
      </div>
    </li>
  </ul> 
  <nav class="orbit-bullets orbit-bullets">
    <button type="button" data-slide="0" class="is-active"><span class="show-for-sr">slide 1</span></button>
    <button type="button" data-slide="1"><span class="show-for-sr">slide 2</span></button>
    <button type="button" data-slide="2"><span class="show-for-sr">slide 3</span></button>
    <button type="button" data-slide="3"><span class="show-for-sr">slide 4</span></button>
  </nav>
</div>