<footer role="navigation" class="footer hide-for-print">
  <div class="footer-top background-concrete grid-container fluid">
    <div class="grid-x">
      <div class="cell xlarge-3">
        <div class="logo-wrapper">
          <a href="/"><img src="/images/FreddieMacLogo.svg" alt="Freddie Mac Home" style="width: 12.3125rem"/></a>
        </div>
      </div>
      <div class="cell xlarge-9">
        <div class="grid-x grid-margin-x">
          <div class="cell medium-6">
            <div class="grid-x grid-margin-x">
              <div class="cell large-6 medium-12">
                <div class="footer-top-section">
                  <p class="weight-medium">Our Company</p>
                  <p><a href="/about/">About Us</a></p>
                  <p><a href="/about/company/">Our Company</a></p>
                  <p><a href="/media-room/">Media Room</a></p>
                  <p><a href="/investors/">Investor Relations</a></p>  
                  <p><a class="offsite" href="https://careers.freddiemac.com/">Careers</a></p> 
                  <p><a href="/about/people/suppliers.html">Our Suppliers</a></p>      
                  <p><a href="/about/about/covid-19.html">Our COVID-19 Response</a></p> 
                  <p><a href="/sustainability/">Sustainability</a></p>     
                </div>  
              </div>
              <div class="cell large-6 medium-12">
                <div class="footer-top-section">
                  <p class="weight-medium">Our Business</p>
                  <p><a class="offsite" href="https://sf.freddiemac.com/">Single-Family Division</a></p>
                  <p><a class="offsite" href="https://mf.freddiemac.com/">Multifamily Division</a></p>
                  <p><a href="/capital-markets/">Capital Markets Division</a></p>
                </div> 
              </div>
            </div>      
          </div>
          <div class="cell medium-6">
            <div class="grid-x grid-margin-x">
              <div class="cell large-6 medium-12">
                <div class="footer-top-section">
                  <p class="weight-medium">Resources</p>
                  <p><a href="https://myhome.freddiemac.com/getting-help/relief-for-homeowners.html">Covid Relief for Homeowners</a></p>
                  <p><a href="https://myhome.freddiemac.com/renting/relief-for-landlords-and-renters.html">Covid Relief for Renters</a></p>
                  <p><a href="https://loanlookup.freddiemac.com/">Mortgage Lookup Tool</a></p>
                  <p><a class="offsite" href="https://myhome.freddiemac.com/renting/lookup.html">Rental Lookup Tool</a></p>
                  <p><a class="offsite" href="http://myhome.freddiemac.com/">My Home by Freddie <span class="no-wrap">Mac<sup>®</sup></span></a></p>
                </div> 
              </div>
              <div class="cell large-6 medium-12">
                <div class="footer-top-section">
                  <p class="weight-medium">Connect With Us</p>
                  <p><a href="/about/contact-us.html">Contact Us</a></p>
                  <p><a href="/about/connect-with-us.html">Sign up for news, tips, and insights</a></p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom grid-container fluid">
    <div class="grid-x">
      <div class="cell large-3 medium-4 small-order-2 medium-order-1">
        <div class="copy-wrapper show-for-medium">
          &copy; {{date "year" }} <span class="no-wrap">Freddie Mac</span>
        </div>
      </div>
      <div class="cell large-9 medium-8 small-order-1 medium-order-2">
        <span class="show-for-sr">Follow us on social media</span>
        <ul class="flex no-bullet">
          <li><a href="/terms/">Terms of Use</a></li>
          <li><a href="/terms/privary.html">Privacy Policy</a></li>
          <li><a href="/terms/privacy_ca.html">California Privacy</a></li>
          <li class="copy-wrapper hide-for-medium">
            &copy; {{date "year" }} <span class="no-wrap">Freddie Mac</span>
          </li>
          <li class="icon">
            <a aria-label="Facebook" href="https://www.facebook.com/FreddieMac" class="connect-link">{{>icon-facebook}}</a>
            <a aria-label="YouTube" href="https://www.youtube.com/freddiemac" class="connect-link">{{>icon-youtube}}</a>
            <a aria-label="LinkedIn" href="https://www.linkedin.com/company/3140" class="connect-link">{{>icon-linkedin}}</a>
            <a aria-label="Twitter" href="https://twitter.com/FreddieMac" class="connect-link">{{>icon-twitter}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>