<div class="faq-list">
  <div class="faq">
    <p><a id="a1q" href="#a1">What is the New Tool?</a></p>
    <div aria-labelledby="#a1q" id="a1">
      <p>New Tool integrates all secondary functions from pricing to funding and helps you easily deliver content to us under a variety of executions.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a2q" href="#a2">How do I get started with the New Tool?</a></p>
  <div aria-labelledby="#a2q" id="a2">
    <p>To start using New Tool you'll need to provide us with information regarding authorized New Tool users and their roles. You submit this information by completing and submitting the required forms.</p>
  </div>
  </div>
  <div class="faq">
    <p><a id="a3q" href="#a3">What New Tool training or resources are available?</a></p>
    <div aria-labelledby="#a3q" id="a3">
      <p>We offer multiple training resources and opportunities. Please see the <a href="#">Training Site</a> for more information, including self-study tutorials available 24/7 and training for new users.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a4q" href="#a4">What information do I need to use your new tool?</a></p>
    <div aria-labelledby="#a4q" id="a4">
      <p>The <em>Instructions</em> contains our requirements for the purchase, sale and servicing of content. For more information on how to access the Instructions, visit our <a href="#">web page</a>. 
        We periodically publish updates to these requirements through Letters. To receive notice of these updates and other important information, visit the <a href="#">Subscription Page</a>. <br /><br /> For more information on specific data fields that must be delivered in the New Tool, visit our <a href="#">Dataset page</a>.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a5q" href="#a5">When is the New Tool available?</a></p>
    <div aria-labelledby="#a5q" id="a5">
      <p>Please click <a href="#">here</a> for New Tool hours of operation, and be sure to <a href="#">sign up</a> for our Alerts to stay updated on any developments.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a6q" href="#a6">What additional help is available if I have questions?</a></p>
    <div aria-labelledby="#a6q" id="a6">
      <p>In addition to the online resources mentioned above, our Customer Support can be reached by calling 800-5555555.</p>
    </div>
  </div>
  <div class="faq">
    <p><a id="a7q" href="#a7">When will the New Tool align visually with older tools?</a></p>
    <div aria-labelledby="#a7q" id="a7">
      <p>In the future, we'll update New Tool&rsquo;s look and feel to align with the old tools' look and feel.</p>
    </div>
  </div>
</div>