<section class="sidebar background-concrete">
  <div class="row">
    <div class="column">
      <h2 class="sidebar-title">Customer News</h2>
      <ul class="list-divided no-bullet">
        <li>
          <div class="article-date">Aug 17, 2017</div>
          <div class="sidebar-headline"><a href="#">How Cash Sales Affect Mortgage Originations</a></div>
          </li>	
        <li>
          <div class="article-date">Jul 27, 2017</div>
          <div class="sidebar-headline"><a href="#">What is Causing the Lean Inventory of Houses?</a></div>
        </li>	
      </ul>
      <p class="uppercase reduce gutter-top"><a href="/news/customer-news.html" class="icon-chevron-right">All customer news</a></p>
    </div>
  </div>
</section> 