<section class="sidebar background-green">
  <div class="feature-background"></div>
  <div class="row">
    <div class="column">
      <div class="sidebar-txt">
        <h3 class="sidebar-title">Why Go Green?</h3>
        <ul>
          <li>More than $11 million in reported annual savings – about $40,500 per loan and $133 per unit</li>
          <li>Tenants save $114 per year on average</li>
        </ul>
        <p><a class="hollow button expand" href="#">Read the News Release</a></p>
      </div>
    </div>
  </div>
</section>
