<style>
.phone-container{
   position: absolute;
   transform: scale(0.6195);
   top:23%;
   left:65%;
 }
 .center{
   position: absolute;
   top:-3%;
   left:50%;
   transform:translate(-50%,-50%);
   transform:rotate(18deg);  
 }

 .mobile{
   width: 276px;
   height: 555px;
   background:#fff;
   border-radius: 30px;
   border: 2px solid rgba(0,0,0,.3);
   box-sizing:border-box;
   box-shadow: inset 0 0 8px rgba(0,0,0,.3);
 }
 .screen{
   position: relative;
   background:#262626;
   width:256px;
   height:430px;
   margin: 58px auto;
   overflow: hidden;
 }
 .screen:before{
   content: '';
   position: absolute;
   top:0;
   left:0;
   background:rgba(255,255,255,.1);
   width:100%;
   height: 100%;
   transform: skew(-5deg) translateX(-50%);
 }
 .home{
   position: absolute;
   bottom:15px;
   left:50%;
   transform:translateX(-50%);
   width: 40px;
   height: 40px;
   border-radius:50%;
   background:#fff;
   border:2px solid #cecece;
   box-sizing:border-box;
   box-shadow: inset 0 0 7px rgba(0,0,0,.1);
 }
 .inner{
   position: absolute;
   top:32px;
   left:50%;
   transform:translateX(-50%);
   width: 40px;
   height: 4px;
   border-radius:2px;
   background:#262626;
   box-sizing:border-box;
 }
 .inner:before{
   content: '';
   position: absolute;
   top:-2px;
   left: -22px;
   background:#262626;
   width:8px;
   height:8px;
   border-radius:50%;
 }
 .inner:after{
   content: '';
   position: absolute;
   top:-16px;
   left: 50%;
   transform:translateX(-50%);
   background:#262626;
   width:6px;
   height: 6px;
   border-radius:50%;
 }
<style>

<!-- 
  <div class="phone-container">
    <div class="center">
      <div class="mobile">
        <div class="screen">
          <div class="lottie-container">
            <div class="optigo-lottie" id="optigo-lottie"><div>
            <script src="https:cdnjs.cloudflare.comajaxlibsbodymovin5.5.0lottie.js"><script>
            <script>
              var animation = bodymovin.loadAnimation({
                container: document.getElementById('optigo-lottie'),
                renderer: 'svg',
                loop: true,
                autoplay:true,
                rendererSettings:{progressiveLoad:false, preserveAspectRatio: 'xMaxYMax meet', viewBoxOnly: true,},
                path: 'jsvendoroptigo-loadingscreen.json'
              })
            <script>
          <div>
        <div>
        <div class="home"><div>
        <div class="inner"><div>
      <div>
    <div>
  <div>         -->
<!-- {{> json-animation-anim}} -->