<div class="reveal background-blue" id="myOptigoModal" data-reveal aria-labelledby="myOptigoModal-label">
  <div class="modal-content">
    <div class="row">
      <div class="column xlarge-offset-1 xlarge-10 end">
        <div class="modal-header">
          <h2 id="myOptigoModal-label">myOptigo</h2>
        </div>
        <div class="modal-page-header">
          <h1>myOptigo Resources</h1>
        </div>
        <div class="callout xlarge background-white">
          <h3>General Videos</h3>
            <ul>
              
              <li>
                <a class="" data-open="accountSetupModal" aria-controls="accountSetupModal" onclick="FM.form.cta('Video Modal', 'Account set-up with FAM')">Account set-up with FAM <span class="icon-file">video</span></a>                            
              </li>
              
              <li>
                <a class="" data-open="aprilEnhancementsModal" aria-controls="aprilEnhancementsModal" onclick="FM.form.cta('Video Modal', 'April enhancements')">April enhancements <span class="icon-file">video</span></a>                
              </li>
            </ul>
          <h3>Loan Quote Submission Resources</h3>
            <ul>
              <li>
                <a class="offsite" href="https://freddiemacmultifamily.rapidlearner.com/p/4504216900">Demo for loan quote submission <span class="icon-file">video</span></a>
              </li>
              <li>
                <a class="" data-open="loanQuoteModal" aria-controls="loanQuoteModal" onclick="FM.form.cta('Video Modal', 'How to submit a loan quote')">How to submit a loan quote <span class="icon-file">video</span></a>  
              </li>
              <li><a class="offsite" href="/docs/myOptigo_FAQs.pdf">Frequently asked questions <span class="icon-file">pdf</span></a></li>
              <li><a class="offsite" href="/docs/dt_myOptigo_Troubleshooting.pdf">Troubleshooting <span class="icon-file">pdf</span></a></li>
            </ul>        
          <h3>Investor Reporting Resources</h3>
          
            <ul>
              <li><a class="offsite video" href="https://freddiemacmultifamily.rapidlearner.com/4504204212">Report a Cash Payoff (Code 61) <span class="icon-file">video</span></a></li>
              <li><a class="offsite video" href="https://freddiemacmultifamily.rapidlearner.com/4504223818">Report a CME Payoff (Code 66) <span class="icon-file">video</span></a></li>
              <li><a class="offsite video" href="https://freddiemacmultifamily.rapidlearner.com/4504236644">Dispute Freddie Mac Expected Interest <span class="icon-file">video</span></a></li>
              <li><a class="offsite video" href="https://freddiemacmultifamily.rapidlearner.com/4504263984">Monthly Reporting on a Single Loan <span class="icon-file">video</span></a></li>
              <li><a class="offsite video" href="https://freddiemacmultifamily.rapidlearner.com/4504217014">Monthly Reporting on Loans through Bulk <span class="icon-file">video</span></a></li>
              <li><a class="offsite video" href="https://freddiemacmultifamily.rapidlearner.com/4504270021">Monthly Reporting on Bonds through Bulk <span class="icon-file">video</span></a></li>          
              <li><a class="offsite" href="/docs/myoptigo_release_notes_apr_2020.pdf">Release Notes – April 2020 <span class="icon-file">pdf</span></a></li>
              <li><a class="offsite" href="/docs/myoptigo_release_notes_june2_2020.pdf">Release Notes – June 2020 <span class="icon-file">pdf</span></a></li>
              <li><a class="offsite" href="/docs/bond_bulk_template.csv">Bond Bulk Template <span class="icon-file">csv</span></a></li>
              <li><a class="offsite" href="/docs/myoptigo_bulk_template.txt">Bulk Template <span class="icon-file">txt</span></a></li>
              <li><a class="offsite" href="/docs/myoptigo_investor_reporting_mock_data_payoffs.pdf">Mock Data Payoffs for Investor Reporting <span class="icon-file">pdf</span></a></li>
              <li><a class="offsite" href="/docs/test_environment_loan_numbers_by_servicer_number.xlsx">Test Environment Loan Numbers by Servicer Number <span class="icon-file">xlsx</span></a></li>
            </ul>          
        </div>
      </div>
    </div>
  </div>
</div>
<!--MODALs-->
<div class="reveal background-primary" id="accountSetupModal" data-reveal aria-labelledby="accountSetupModal-label">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="accountSetupModal-label">Account set-up with FAM</h2>
    </div>
    <div class="row">
      <div class="columns small-centered small-10">
        <div class="responsive-embed widescreen">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vm0FeMEWmoE?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal background-primary" id="loanQuoteModal" data-reveal aria-labelledby="loanQuoteModal-label">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="loanQuoteModal-label">How to submit a loan quote</h2>
    </div>
    <div class="row">
      <div class="columns small-centered small-10">
        <div class="responsive-embed widescreen">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/E4QCh_9Gm-0?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal background-primary" id="aprilEnhancementsModal" data-reveal aria-labelledby="aprilEnhancementsModal-label">
  <div class="modal-content">
    <div class="modal-header">
      <h2 id="aprilEnhancementsModal-label">April enhancements</h2>
    </div>
    <div class="row">
      <div class="columns small-centered small-10">
        <div class="responsive-embed widescreen">
          <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/233e-ZfMTYs?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>



