<style>
.gif-loader{
  overflow: hidden;
  margin:0;
  padding:0;
}
</style>
<div class="row-wrapper">
  <div class="row">
    <div class="column small-centered-only">
      <div class="hide-for-large gutter-top gutter-bottom">
        <img class="no-border gif-loader" src="https://user-images.githubusercontent.com/8764348/81596955-ea156380-9392-11ea-9c66-b8638fb0c0d4.gif" alt="optigo animation">
      </div>
      <div class="show-for-large gutter-top gutter-bottom">
        <img class="no-border gif-loader" src="https://user-images.githubusercontent.com/8764348/81596736-91de6180-9392-11ea-8c3c-a584e2178032.gif">
      </div>
    </div>
  </div>
</div>