<style>
video {
  width: 100%;
  height: auto;
  display: block;
}
.video-wrapper {
  overflow: hidden;
}
.video-wrapper #optvideo {
  position: relative;
  right: 2px;
  top: -2px;
  left: -2px;
  bottom: 2px;
}
</style>

<div class="position-relative hero-optigo-3" style="overflow:hidden;">
  <!--optigo Os-->
  <div class="row-wrapper" style="overflow:visible;">
    <div class="row">
      <div class="column medium-5 medium-push-7 optigo-3-title">
        <div class="callout no-margin optigo-3-title title-container">
          <h1>Aim higher. <br><span class="no-wrap">Optigo further.</span></h1>           
        </div>
      </div>
      <div class="column medium-7 medium-pull-5">
        <div class="video-wrapper">
        <video autoplay muted loop id="optvideo">
          <source src="/images/optigo-anim-home.mp4" type="video/mp4">
        </video>
        </div>
        <a class="play-button video-modal widescreen-video" href="https://www.youtube.com/watch?v=5wqZRnT6Scc" data-src="//www.youtube-nocookie.com/embed/5wqZRnT6Scc?rel=0&amp;wmode=transparent" style="display:inline"></a>
      </div>
    </div>
    
  </div>  
</div>
<!--
  <div class="row">
      <div class="large-1 column">
        <div class="callout"></div>
      </div>
      <div class="large-10 small-9 small-centered large-offset-1 column text-center">
        <img src="https://mf.freddiemac.com/images/optigo-refresh-89.svg" alt="" class="optigo-logo">
      </div>
    </div>
-->