<!doctype html>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <meta name="theme-color" content=""> 
    {{> metadata}}
    {{> metadata-static}}
    {{#if (typeof stylesheet "string") }}
      <link rel="stylesheet" href="{{stylesheet}}" />
    {{/if}} 
    {{#if (typeof stylesheet "array") }}
      {{#each stylesheet}}
      <link rel="stylesheet" href="{{.}}" />
      {{/each}}    
    {{/if}} 
  </head>  
  {{#if bodyclass}}
  <body class="{{ bodyclass }}">
    {{else}}
  <body>
  {{/if}}  

  {{> body}} 
             
  {{> footer}}      
         
  {{> js-footer}}

  {{#if (typeof stylesheet "string") }}
      <script src="{{ javascript }}"></script>
  {{else}}
    {{#each javascript}}
      <script src="{{ this }}"></script>
    {{/each}}    
  {{/if}}
  {{#if onload}}
  <script type="text/javascript">
    window.onload = {{ onload }};
  </script>
  {{/if}}
  </body>
</html>
